$color-default: #E8EBF0;
$color-primary: #FF5B00;
$color-success: #4CAF50;
$color-info: #468CB5;
$color-custom: #17BEBB;
$color-custom1: #A15100;
$color-custom2: #D8DDE6;
$color-danger: #E63535;
$color-dark: #2B2826;
$color-dark-50: rgba(43, 40, 38, .5);
$color-dark-60: rgba(43, 40, 38, .6);
$color-white: #fff;
$color-white-50: rgba(255, 255, 255, .5);
$color-athens-grey: #edf0f5;
$color-cadet-blue: #a2afc5;
$color-whisper: #f5f7fa;
$color-default-hover: #E8EBF0;
$color-primary-hover: #ff7c33;
$color-success-hover: #60CC64;
$color-info-hover: #60A8D1;
$color-custom-hover: #17BEBB;
$color-danger-hover: #E63535;
$color-dark-hover: #2B2826;
$color-white-hover: #fff;

// $font-path: "https://s3.ap-southeast-1.amazonaws.com/pigijo/assets/fonts/";
$font-path: "/static/fonts/";
$font_0: themify;
$font_1: circular;
$font_2: eina;

$break-small: 480px;
$break-medium: 768px;
$break-large: 1024px;
$break-xlarge: 1367px;

//urls
// $arrow-left: url(https://s3.ap-southeast-1.amazonaws.com/pigijo/assets/images/arrow_left.svg);
// $arrow-right: url(https://s3.ap-southeast-1.amazonaws.com/pigijo/assets/images/arrow_right.svg);
// $arrow-bottom: url(https://s3.ap-southeast-1.amazonaws.com/pigijo/assets/images/arrow_bottom.svg);
// $maskot: url(https://s3.ap-southeast-1.amazonaws.com/pigijo/assets/images/mascot01.svg);
// $logo-white: url(https://s3.ap-southeast-1.amazonaws.com/pigijo/assets/images/logo_pigijo_white.svg);
$arrow-left: url(/static/images/arrow_left.svg);
$arrow-right: url(/static/images/arrow_right.svg);
$arrow-bottom: url(/static/images/arrow_bottom.svg);
$logo-white: url(/static/images/logo_pigijo_white.svg);
$maskot: url(/static/images/mascot01.svg);

@mixin respond-to($media) {
  @if $media ==  mobile {
      @media only screen and (max-width: $break-medium) { @content; }
  }
  @else if $media == tabs {
      @media only screen and (max-width: $break-medium) { @content; }
  }
  @else if $media == desktop {
      @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == wide-screens {
      @media only screen and (min-width: $break-xlarge) { @content; }
  }
}
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}


%extend_1 {
	text-align: center;
	width: 38px;
	height: 38px;
	border-radius: 0;
}
%extend_2 {
	background-color: transparent!important;
	background-image: none;
	text-shadow: none !important;
	color: #666;
}
%extend_3 {
	background-image: none;
	background-color: $color-default-hover;
	border: 1px solid rgba(0, 0, 0, .085);
	color: #666;
}
%extend_4 {
	position: relative;
	transform: translateZ(0);
	transition: color .2s ease;
}
%extend_5 {
	background-color: transparent !important;
	background: none !important;
	border-color: $color-default-hover !important;
}
%extend_6 {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	border: 2px solid transparent;
	background-color: $color-primary;
	border-radius: 50%;
	z-index: -1;
	opacity: 0;
	transform: scale(.5);
	transition: all .2s ease;
}
%extend_7 {
	color: $color-primary !important;
	background-color: transparent !important;
	text-shadow: none !important;
}
%extend_8 {
	transform: translate3d(0, -50%, 0);
	overflow: hidden;
	background-image: none;
	min-width: none;
	width: 40px;
	line-height: 40px;
	height: 40px;
	background-color: $color-primary;
	border-radius: 50%;
	border: none;
	text-align: center;
	margin: 0;
	color: #061e46;
}
%extend_9 {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: $arrow-left;
	background-position: center;
	background-size: 1.2em auto;
	background-repeat: no-repeat;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1);
}
%extend_10 {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: $arrow-right;
	background-position: center;
	background-size: 1.2em auto;
	background-repeat: no-repeat;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1);
}
%extend_11 {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	transform: none;
	top: 0;
	left: 0;
	right: 0;
}
%extend_12 {
	cursor: default;
	background-color: transparent;
	border: none;
	color: $color-primary;
}
%extend_13 {
	background-color: $color-white;
	box-shadow: 0 0 24px rgba(43, 40, 38, .2);
	color: $color-dark;
}
%extend_14 {
	height: 42px;
	border: 1px solid $color-custom2;
	border-radius: 2px !important;
	transition: border .4s cubic-bezier(.4, 0, .2, 1);
}
%extend_15 {
	width: 100%;
	display: block;
	line-height: 40px;
	padding: 0 1.2em;
	white-space: nowrap;
	cursor: pointer;
}
%extend_16 {
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid $color-white-50;
}

%extend-toggle {
	content: "";
	display: block;
	width: 40px;
	height: 1em;
	line-height: 1em;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform .4s cubic-bezier(.4, 0, .2, 1);
}
