.p_discount {
  background: #ff3030;
  margin: 0;
  border-radius: 3px;
  padding: 0 3px;
  font-size: 0.9em;
  float: left;
  font-weight: bold;
}
.act-breadcrumb {
  .breadcrumb {
    background-color: transparent;
    .breadcrumb-item {
      a {
        color: $color-dark;
      }
    }
  }
}
.act-short-description {
  font-weight: 300;
  line-height: 2em;
  color: #000000;
}
.choose-package {
  .panel {
    .cart-body{
      padding: 1em 5px 1em 10px !important;
      .head-content{
        display: flex;
        justify-content: space-between;
        margin:10px 10px;
        .head-all{
          input[type=checkbox] {
              position:absolute; 
              z-index:-1000; 
              left:-1000px; 
              overflow: hidden; 
              clip: rect(0 0 0 0);
              height:1px;
              width:1px;
              margin:-1px;
              padding:0; 
              border:0;
              + label.css-label {
                padding-left:23px;
                height:18px; 
                display:inline-block;
                line-height:18px;
                background-repeat:no-repeat;
                background-position: 0 0;
                font-size:14px;
                vertical-align:middle;
                cursor:pointer;
              }
              &:checked + .css-label {
                background-position: 0 -18px;
              }
          }
          .css-label {
            background-image: url(/static/icons/check.png);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
        }
        .head-delete{
          font-size: 16px;
          .text-delete{
            font-weight: 700;
            color: rgba(49,53,59,.44);
          }
        }
      }
    }
    .body-listitem{
        display: flex;
        justify-content: space-between;        
        height: 100px;
        margin:5px 20px;
        @include respond-to(mobile){
          display: flex;
        }
        .cekitem{
          height: 100px;
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;
          input[type=checkbox] {
              position:absolute; 
              z-index:-1000; 
              left:-1000px; 
              overflow: hidden; 
              clip: rect(0 0 0 0);
              height:1px;
              width:1px;
              margin:-1px;
              padding:0; 
              border:0;
              + label.css-label {
                padding-left:23px;
                height:18px; 
                display:inline-block;
                line-height:18px;
                background-repeat:no-repeat;
                background-position: 0 0;
                font-size:14px;
                vertical-align:middle;
                cursor:pointer;
              }
              &:checked + .css-label {
                background-position: 0 -18px;
              }
          }
          .css-label {
            background-image: url(/static/icons/check.png);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .box-img{
            width: 80px;
            position: relative;
            @include respond-to(mobile){
              margin-left:0px;
            }
            .thumb{
              width: 60px;
              height: 60px;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
          .product-detailcart{
            margin-left:15px;
            width: 100%;
            
            .text-title{
              font-family: "eina";
              display: block;
              margin-bottom: 5px;
              max-width: 400px;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 1em;
              font-weight: 700;
              @include respond-to(mobile){
                font-size:0.7em;
              }
            }
            .text-label{
              display: block;
              font-size: 10px;
              color: rgba(0,0,0,.38);
              margin: 0 2px 8px 0;
              font-weight: 700;
              border-radius: 24px;
              @include respond-to(mobile){
                font-size:0.5em;
                padding: 3px 2px;
              }
            }
            .price{
              font-family: eina;
              letter-spacing: .25px;
              font-weight: 600;
              color: $color-primary;
              font-size: 10pt;
              margin:0;
              padding:0;
              @include respond-to(mobile){
                font-size:0.7em;
              }
            }
          }
        }
        .item-list{
          height: 100px;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          span{
            font-size: 18pt;
            margin-right: 20px;
            @include respond-to(mobile){
              font-size:12pt;
              margin-right: 5px;
            }
            &:hover{
              color:$color-primary;
            }
          }
          .cart-chooser{
            margin:0 20px;
            @include respond-to(mobile){
              margin:-22px 10px 10px 10px;
              display: inline-flex;
            }
            &__amount-btn-min {
              width: 23px;
              height: 23px;
              border-radius: 20px;
              border: none;
              outline: none;
              font: inherit;
              font-size: 17px;
              color: white;
              background-image: url(/static/icons/button-min.svg);
              &:hover{
                opacity: 0.6;
              }
              }
              &__amount-btn-plus {
                width: 23px;
                height: 23px;
                border-radius: 20px;
                border: none;
                outline: none;
                font: inherit;
                font-size: 17px;
                color: white;
                background-image: url(/static/icons/button-plus.svg);
                &:hover{
                  opacity: 0.6;
                }

                }
            .passengers-chooser__amount-field {
              padding: 0 15px;
              margin-right: 0px;
              @include respond-to(mobile){
                padding: 0 5px;
              }
            }
            .cart-text{
              margin-top:3px;
              border-top: 1px solid #000;
              text-align: center;
              @include respond-to(mobile){
                border:none;
                position: absolute;
                margin-top:25px;
                font-size: 0.7em;
                border-top: 1px solid;
              }
            }
          }
        }
    }
    hr{
      margin:10px 0 5px 0;
    }
  }
  .panel1 {
    .panel{
      // background: #f5f7fa;
      .cart-body{
        padding: 1em 5px 1em 10px !important;
        .head-content{
          display: flex;
          justify-content: space-between;
          margin:10px 10px;
        }
      }
      .cart-null{
        padding: 50px 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-null-cart{
          width: 50%;  
          padding-bottom: 30px;
        }
        .btn-cart{
          padding: 0 50px;
        }
      }

    }
  }
}
.cat-header {
  .main-title {
    margin-bottom: 2em;
    @include respond-to(mobile) {
      h1 {
        font-size: 1.5em;
        font-weight: 500;
      }
    }
  }
  .see-all {
    position: absolute;
    bottom: 2em;
    @include respond-to(mobile) {
      bottom: 0.2em;
    }
    right: 1em;
  }
}

.act-icons {
  border: 1px dashed $color-primary;
  padding: 1em 1em 0em 1em;
  display: block;
  li {
    width: 50%;
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 1em;
    color: $color-dark;
    span {
      font-weight: 300;
      &:last-child {
        margin-left: 1em;
        font-family: "eina";
      }
    }
  }
}
.act-rating {
  border-top: 1px dashed $color-primary;
  margin-top: 1em;
  padding: 1em 0;
  span {
    font-weight: 300;
    &:last-child {
      font-weight: 400;
      margin-left: 1em;
      font-family: "eina";
    }
  }
  .btn-check{
    background: white;
    color: #000;
    border: 1px solid $color-primary;
    &:hover{
      background: $color-primary;
      color: white;
    }
  }
}
.content-activity {
  width: 100%;
  display: block;
  &:after {
    content: "";
  }
  .side-left {
    float: left;
    position: relative;
    width: 60%;
    @include respond-to(mobile) {
      width: 100%;
    }
    margin: 1em 0;
    min-height: 2em;
    padding: 0 1em;
    .text-title {
      font-size: 1.8em;
    }
  }
  .side-mobile{
    @include respond-to(mobile){
      margin-bottom: 50px !important;
    }
  }
  .width-maps{
    width: 100% !important;
  }
  .side-right {
    @include respond-to(mobile) {
      display: none;
    }
    float: left;
    position: relative;
    width: 30%;
    min-height: 2em;
    margin: 1em 0;
    .side-bar-footer {
      margin-top: 1em;
      .icon {
        span {
          font-weight: 300;
          &:last-child {
            font-weight: 400;
            margin-left: 1em;
            font-family: "eina";
          }
        }
      }
    }
    .sticky-bar {
      background-color: $color-white;
      p {
        width: inherit;
      }
      display: block;
      width: 100%;
      padding: 1em;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
      .btn-check{
        background: white;
        color: #000;
        border: 1px solid $color-primary;
        &:hover{
          background: $color-primary;
          color: white;
        }
      }
    }
    
  }
  .side-right1{
    float: left;
    position: relative;
    width: 30%;
    min-height: 2em;
    @include respond-to(mobile){
      position: fixed;
      width: 93%;
      bottom: 0;
      overflow: initial;
      z-index: 3;
      margin: 0;
    }
    .summary-cart{
      margin-top:15px !important;
      background: white;
      margin-bottom:20px;
      @include respond-to(mobile){
        margin-bottom:0px;
      }
      .head-summary{
        border-bottom: solid 1px #e0e0e0;
        margin-bottom: 19px;
        padding: 0 0 14px;
        @include respond-to(mobile){
          display: none;
        }
        .title-summary{
          font-size: 12pt;
          font-weight: 600;
          color: rgba(49,53,59,.96);
        }
      }
      .body-summary{
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 16px;
        @include respond-to(mobile){
          border-bottom: 1px solid #ddd;
          margin-bottom: 5px;
        }
        .detail-summary{
          margin-bottom: 5px;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          font-weight: 600;
          .title-summary{
            font-weight: 400;
          }
          .price-summary{
            font-weight: 700;
            color: $color-primary;
          }
        
        }
      }
      .cuppon-summary{
        padding: 10px 10px;
        .card-cuppon{
          border-radius: 8px;
          box-shadow: 0 1px 6px 0 rgba(49,53,59,.12);
          background-color: #fff;
          position: relative;
          cursor: pointer;
          padding: 10px 12px;
          border-width: 0;
          box-sizing: border-box;
          @include respond-to(mobile){
            box-shadow:none;
            background:none;
            padding:0;
          }
          .form-group{
            margin-bottom: 0px;
          }
        }
      }
      .btn-check{
        background: white;
        color: #000;
        border: 1px solid $color-primary;
        &:hover{
          background: $color-primary;
          color: white;
        }
      }      
    }
  }
}
.s--cart {
  @include respond-to(mobile) {
    width: 100%;
    margin-top: 1em;
    float: left;
  }
  .s--cart-btn {
    @include respond-to(mobile) {
      width: 50%;
    }
  }
}
.s--activity-price {
  strike {
    position: relative;
    margin-left: 0.5em;
    color: #7b828f;
    font-size: 0.8em;
  }
  .text-person{
    font-size: 0.7em;
    color: #9c9c9c;
  }
}
.sticky {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}
.main-box {
  background-color: #f5f7fa;
  display: flex;
  @include respond-to(mobile) {
    &.filter-box {
      display: block;
    }
    display: none;
  }
  align-items: center;
  height: 44px;
  #header-tabs {
    list-style: none;
    width: 100%;
    padding: 0 1em;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0.4em 0 0 0;
    .tabs-item {
      a {
        color: $color-dark;
        &:hover {
          border-bottom: 2px solid $color-primary;
        }
      }
      &.active {
        a {
          border-bottom: 2px solid $color-primary;
        }
      }
      &:first-child {
        padding-left: 0;
      }
      padding-left: 1.4em;
      display: inline-block;
    }
  }

  #community-header-tabs {
    list-style: none;
    width: 100%;
    padding: 0 1em;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0.4em 0 0 0;
    li {
      a {
        color: $color-dark;
        &:hover {
          border-bottom: 2px solid $color-primary;
        }
      }
      &.active {
        a {
          border-bottom: 2px solid $color-primary;
        }
      }
      &:first-child {
        padding-left: 0;
      }
      padding-left: 1.4em;
      display: inline-block;
    }
  }
}
.filter-rentcar{
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 1000px;
  margin: -15px 100px 10px 100px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(27,27,27,.2);
  @include respond-to(mobile) {
    margin: -25px 10px 10px 10px;
  }
  .card{
    margin: 10px 0 10px 0;
    @include respond-to(mobile) {
      margin: 10px -30px 10px -30px;
      padding: 5px 15px;
    }abel-form{
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .06em;
      line-height: 1.6em;
      @include respond-to(mobile) {
        font-size:12px;
      }
    }
    .DateRangePicker{
      margin-bottom: 0px !important;
      z-index: 3;
      .DateInput_1{
        .DateInput_input_1{
          font-size:14px
        }
      }
    }
    .fmargin{
      margin-top:5px;
      .styled-h
      .hidden {
        display: none;
      }
    }
    .typeahead{
      margin: 0 !important;
    }
    .passengers-form{
      padding: 11px 10px 11px 10px;
      margin: 5px 0 12px 0;
      border: 1px solid #D8DDE6;
      border-radius: 4px 4px 0 0;
      .img-pass-form{
        padding-right: 10%;
        vertical-align: bottom;
        cursor:pointer;
      }
      .pass-pep{
        color: rgb(180, 180, 180);
        font-size: 10pt;
      }
      .pass-pep-number{
        color: $color-primary;
        margin-right:8%;
        &:after{
            content: " ";
            position: absolute;
            height: 35%;
            background: $color-primary;
            opacity: 0.4;
            width: 1px;
            margin-left:3%;
        }
      }
      .booking-form__toggle-btn{
        width: 13px;
        height: 13px;
        position: absolute;
        outline: none;
        border: none;
        border-radius: 50%;
        color:$color-primary;
        background: transparent;
        font-size:8pt;
        font-weight:800;
        margin-left:-1%;
        @include respond-to(mobile) {
          margin-left: -2px;
        }
      }
      .booking-form__passengers {
        margin: 10px 0 0 -10px;
        padding: 10px 15px;
        position: absolute;
        z-index: 100;
        background: #fff;
        width: 90%;
        border: 1px solid rgb(233, 238, 243);
        border-top:none;
      }
      .passengers-list {
        .passengers-list__row {
          padding: 8px 0;
          list-style-type: none;
          border-bottom: 1px solid rgb(207, 207, 207);
        }
      }
      .passengers-chooser {
        display: flex;
        justify-content: space-between;
        .passengers-chooser__title{
          font-weight: normal;
        }
        .passengers-chooser__title:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
        .passengers-chooser__amount {
          padding: 5px;
          border: 1px solid $color-primary;
          border-radius: 20px;
          .passengers-chooser__amount-btn {
            width: 23px;
            border: none;
            border-radius: 50%;
            outline: none;
            font: inherit;
            font-size: 17px;
            color: $color-primary;
          }
          .passengers-chooser__amount-btn:hover {
            color: #fff;
            background: $color-primary
          }
          .passengers-chooser__amount-btn:active {
            color: #c4c4c4;
          }
          .passengers-chooser__amount-field {
            padding: 0 5px 0 5px;
        }
        }
      }
    }
  }
  .button-rentcar{
    margin: -10px 0 20px 0;
    padding-right: 45px;
    @include respond-to(mobile) {
      margin: 0px 0 20px 0;
      display: flex;
      justify-content: center ;
      padding-right: 0px;
    }
    .btn-rentc-search{
      font-family: inherit;
      float: right;
      padding: 0 30px 0 30px;
      @include respond-to(mobile) {
        float :none;
      }
    }
  }
}

.filter-flight{
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 1000px;
  background-color: rgb(255, 255, 255);
  margin: -15px 100px 10px 100px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(27,27,27,.2);
  @include respond-to(mobile) {
    margin: -25px 10px 10px 10px;
    
  }
  .card{
    margin: 10px 0 10px 0;
    @include respond-to(mobile) {
      margin: 10px -30px 10px -30px;
      padding: 5px 15px;
    }
    .label-form{
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .06em;
      line-height: 1.6em;
      @include respond-to(mobile) {
        font-size:12px;
      }
    }
    
    .date-custom-1{
      .SingleDatePicker_1 {
        .SingleDatePickerInput{
          width: 100%;
          .DateInput_1{
           width:100%;
           .DateInput_input{
             font-size:14px
           }
          }
        }
      }
    }

    .fmargin{
      margin-top:5px;
      .styled-h
      .hidden {
        display: none;
      }
    }
    .typeahead{
      margin: 0 !important;
    }
    .passengers-form{
      padding: 11px 10px 11px 10px;
      margin: 5px 0 12px 0;
      border: 1px solid #D8DDE6;
      border-radius: 4px 4px 0 0;
      .img-pass-form{
        padding-right: 15px;
        vertical-align: bottom;
        cursor:pointer;
      }
      .pass-pep{
        color: rgb(180, 180, 180);
        font-size: 10pt;
      }
      .pass-pep-number{
        color: $color-primary;
        margin-right:7%;
        &:after{
            content: " ";
            position: absolute;
            height: 35%;
            background: $color-primary;
            opacity: 0.4;
            width: 1px;
            margin-left: 7px;
        }
      }
      .booking-form__toggle-btn{
        width: 13px;
        height: 13px;
        position: absolute;
        outline: none;
        border: none;
        border-radius: 50%;
        color:$color-primary;
        background: transparent;
        font-size:8pt;
        font-weight:800;
        @include respond-to(mobile) {
          margin-left: -2px;
        }
      }
      .booking-form__passengers {
        margin: 10px 0 0 -10px;
        padding: 10px 15px;
        position: absolute;
        z-index: 100;
        background: #fff;
        width: 90%;
        border: 1px solid rgb(233, 238, 243);
        border-top:none;
      }
      .passengers-list {
        .passengers-list__row {
          padding: 8px 0;
          list-style-type: none;
          border-bottom: 1px solid rgb(207, 207, 207);
        }
      }
      .passengers-chooser {
        display: flex;
        justify-content: space-between;
        .passengers-chooser__title{
          font-weight: normal;
        }
        .passengers-chooser__title:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
        .passengers-chooser__amount {
          padding: 5px;
          border: 1px solid $color-primary;
          border-radius: 20px;
          .passengers-chooser__amount-btn {
            width: 23px;
            border: none;
            border-radius: 50%;
            outline: none;
            font: inherit;
            font-size: 17px;
            color: $color-primary;
          }
          .passengers-chooser__amount-btn:hover:enabled {
            color: #fff;
            background: $color-primary
          }
          .passengers-chooser__amount-btn:active:enabled {
            color: #c4c4c4;
          }
          .passengers-chooser__amount-btn:disabled {
            cursor: not-allowed;
            color: #7b828f;
          }
          .passengers-chooser__amount-field {
            padding: 0 5px 0 5px;
        }
        }
      }
    }
  }

  .button-flight{
    margin: -10px 0 20px 0;
    padding-right: 45px;
    @include respond-to(mobile) {
      margin: 0px 0 20px 0;
      display: flex;
      justify-content: center ;
      padding-right: 0px;
    }
    .btn-flight-search{
      float: right;
      padding: 0 30px 0 30px;
      @include respond-to(mobile) {
        float :none;
      }
    }
  }
  &.flight-review{
    .flight-review-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 150px;

      &#departure-review{
        &:hover {
          background-color: #FBFBFD;
          cursor: pointer;
        }
      } 
      &.inactive {
        background-color: #F5F7FA;
        padding: 10px;
      }
      .flight-review-title{
        font-size: 14pt;
        text-transform: uppercase;
        padding-top: 4px;
        margin-bottom: 1px;
        color: #000;
        @include respond-to(mobile) {
          font-size: 12pt;
          padding-top: 10px;
        }
      }
      .flight-review-list {
        padding-inline-start: 0;
        list-style-type:none;
        a:hover {
          cursor: pointer;
        }
      }
      .img-logo-flight {
        display: flex;
        justify-content: center;
        min-height: 150px;
        align-items: center;
    
        img {
          width: 80px;
        }
      }
    }
  }
}

.flight-list-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 100px 10px 100px;
  position: relative;
  @include respond-to(mobile) {
    margin: -25px 10px 10px 10px; 
  }
}

.check-flight{
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-default;
  @include respond-to(mobile) {
    float :none;
    margin: 20px 15px 10px 15px;
  }
  .check-flight-1{
    background: $color-primary;
    text-align: center;
    color: #fff;
    font-size: 26pt;
    .check-flight-number{
      padding: 25px 0 20px 0;
    }
  }
  .check-flight-2{
    background: $color-default;
    .check-flight-title{
      font-size: 14pt;
      text-transform: uppercase;
      padding-top: 4px;
      margin-bottom: 1px;
      color: #000;
      @include respond-to(mobile) {
        font-size: 12pt;
        padding-top: 10px;
      }
    }
    .check-flight-rute{
      font-size: 10pt;
      text-transform: uppercase;
      margin-bottom: 1px;
      @include respond-to(mobile) {
        font-size: 9pt;
        padding:0;
      }
    }
    .check-flight-date{
      font-size: 8pt;
      text-transform: uppercase;
      margin-bottom: 3px;
      @include respond-to(mobile) {
        font-size: 8pt;
        padding:0;
        margin: -5px 0 2px 0;
      }
    }
  }
}

.sort-section {
  margin-top: 15px;

  .dropdown-menu {
    right: 0;
    left: auto
  }
}

.list-flight{
  padding: 20px 0 0 0;
  background: #fff;
  @include respond-to(mobile) {
    padding: 20px 10px 0 10px;
  }
  .flight-pos{
    @include respond-to(mobile) {
      margin-top:2px;
    }
    .img-logo-flight{
      width: 70px;
      @include respond-to(mobile) {
        width: 30px;
        margin-left: -30px !important;
      }
    }
    .plane-flight{
      padding-top: 20px;
      font-size:13pt;
      color: #000;
      @include respond-to(mobile) {
        margin-top:-15px;
        font-size:8pt;
        color: rgb(58, 58, 58);
        margin-left: -30px !important;
      }
    }
  }

  
  .flight-pad{
    margin-top: 15px;
    .flight-cen{
      @include respond-to(mobile) {
        padding-top:10px;
        padding-left:5px;
        padding-right:5px;
        display: flex;
      }
      .plane-time{
        color: #434343;
        font-size: 16pt;
        @include respond-to(mobile) {
          font-size: 11pt;
          margin-left:-30px;
        }
      }
      .plane-lok{
        color: #797979;
        font-size: 13pt;
        @include respond-to(mobile) {
          font-size: 10pt;
          margin-left: -30px !important;
        }
      }
    }
  }
  .flight-padd{
    margin-top: 0px;
    @include respond-to(mobile) {
      padding-top:30px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
    }
    .plane-price{
      color: $color-primary;
      font-size: 14pt;
      @include respond-to(mobile) {
        font-size: 10pt;
      }
    }
    .flight-buy-cen{
      @include respond-to(mobile) {
        padding-top:10px;
        display: flex;
      }
      .btn-flight-buy{
        margin-top:5px;
        float: left ;
        padding: 0 45px 0 45px;
      }
    }
  }
  .flight-accord-panel{
    margin-bottom: 0 !important;
    .flight-accord{
      background: #fff;
      padding-left: 10px !important;
      padding-top: 30px !important;
      @include respond-to(mobile) {
        padding: 25px 0 10px 0 !important;
      }
      .flight-accord-title{
        color: $color-primary;
        @include respond-to(mobile) {
          text-align: center;
        }
      }
    }
    .flight-accord-body{
      border-top: 1px solid $color-primary !important;
      background: #fff;
      padding-top:40px;
      @include respond-to(mobile) {
        padding-top:25px;
      }
      .flight-body-padd{
        margin-left:-20px;
        @include respond-to(mobile) {
          text-align: center;
        }
      }
      .flight-plane-type{
        color: #434343;
        font-size: 16pt;
      }
      .flight-cabin-type{
        color: #434343;
        font-size: 16pt;
        @include respond-to(mobile) {
          padding-bottom:25px;
        }
      }
      .list-activities > li {
        padding-bottom: 40px;
      }
      .flight-time{
        color: #434343;
        font-size: 16pt;
      }
      .flight-date{
        color: #797979;
        font-size: 11pt;
      }
      .flight-loc{
        color: #434343;
        font-size: 16pt;
      }
      .flight-airport{
        color: #797979;
        font-size: 13pt;
      }
    }
  }
}

.filter-acc {
  background-color: #f5f7fa;
  display: flex;
  @include respond-to(mobile) {
    display: none;
  }
  align-items: center;
  height: 54px;
  ul {
    list-style: none;
    width: 100%;
    left: 0;
    padding: 0 0em;
    display: inline-block;
    margin: 0;
    li {
      // a{
      //   color: $color-dark;
      //   &:hover{
      //     border-bottom: 2px solid $color-primary;
      //   }
      // }
      // &.active{
      //   a{
      //     border-bottom: 2px solid $color-primary;
      //   }
      // }
      &:first-child {
        padding-left: 0;
      }
      padding: 0.2em;
      display: inherit;
    }
  }
}

.filter-acc-detail {
  background-color: #f5f7fa;
  display: flex;
  @include respond-to(mobile) {
    display: none;
  }
  align-items: center;
  height: 54px;
  ul {
    list-style: none;
    width: 100%;
    left: 0;
    padding: 0 0em;
    display: inline-block;
    margin: 0;
    li {
      // a{
      //   color: $color-dark;
      //   &:hover{
      //     border-bottom: 2px solid $color-primary;
      //   }
      // }
      // &.active{
      //   a{
      //     border-bottom: 2px solid $color-primary;
      //   }
      // }
      &:first-child {
        padding-left: 0;
      }
      padding: 0.2em;
      display: inline-block;
    }
  }
}
.scrollmenu-x {
  overflow-x: auto;
  white-space: nowrap;
}

.header-content {
  .nav-list-header {
    ul {
      margin: 0;
      padding-bottom: 0.5em;
      li {
        display: inline-block;
        margin-left: 1em;
        text-align: center;
        &:first-child {
          margin-left: 0;
        }
        a {
          padding: 0.5em;
          border-radius: 5px;
          min-width: 80px;
          color: $color-white;
          display: inline-block;
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
          &:hover {
            opacity: 0.6;
            color: $color-default-hover;
          }
        }
      }
    }
  }
}

.body-content {
  background-color: #f5f7fa;
}

.cnt-filter {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  .text-title {
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  .cnt-body {
    min-height: 50px;
  }
}

.sidebar {
  .panel {
    .panel-body {
      padding: 1em;
    }
  }
}

.p__filter {
  position: absolute;
  padding: 1em;
  min-width: 300px;
  margin-top: 0.5em;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  background: white;
  justify-content: center;
  align-items: center;
  z-index: 1;
  @include respond-to(mobile) {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.sort-desktop {
  &:first-child {
    margin-top: 1em;
  }
  padding: 1em;
  margin-bottom: 0.5em;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.p__fitler--mobile-content {
  .sort-mobile {
    &:first-child {
      margin-top: 1em;
    }
    padding: 1em;
    margin-bottom: 0.5em;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .btn-close {
    position: absolute;
    right: 1em;
    top: 0.5em;
    font-size: 1.2em;
  }
  position: fixed;
  padding: 2em 1em 1em 1em;
  top: 0;
  height: 100vh;
  z-index: 9999;
  background: white;
  width: 100%;
}
.p__filter--mobile {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 90vh;
  z-index: 1;
  .btn-group {
    .btn-sm {
      line-height: 25px;
      min-width: 79px;
      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}

ul.ev-box-qty {
  text-align: center;
  padding: 0px;
  display: flex;
  justify-content: center;
}
ul.ev-box-qty li {
  display: inline-block;
  padding: 20px;
  background-color: #e1dcd6;
}
ul.ev-box-qty li.ev-add:hover,
li.ev-min:hover {
  cursor: pointer;

  outline: 1px solid #cdd6d8;
  background-color: #cdd6d8;
}
ul.ev-box-qty li input {
  outline: none;
  border: none;
  background: transparent;
  text-align: center;
  width: 100%;
  height: 60px;
}
ul.ev-box-qty li:nth-child(2) {
  display: inline-block;
  padding: 0px;
  border: 1px solid #e1dcd6;
  background-color: #fff;
}
ul.ev-box-qty .ev-qty-act {
  font-size: 2em;
  font-weight: 700;
}
ul.ev-box-qty .ev-quantity {
  font-weight: 300;
  font-size: 1.6em;
  width: 60px;
}
.disabled-add-min-events {
  background-color: #c7d1d3 !important;
}

.disabled-add-min-events a {
  color: #d8d8d8 !important;
}

.disabled-add-min-events input {
  background-color: #c7d1d3 !important;
}

.manifest-card{
  // background-color: rgb(255, 255, 255);
  margin: 15px 0;
  border-radius: 4px;
  @include respond-to(mobile) {
    margin: -25px 10px 10px 10px;
    
  }
  .card{
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(27,27,27,.2);
    background-color: rgb(255, 255, 255);
    @include respond-to(mobile) {
      margin: 10px ;
      padding: 5px 15px;
    }
    .traveler-detail-box{
      margin: 10px 0;
    }
    .manifest-form{
      .flight-info{
        margin-bottom: 10px;
        .list-horizontal_middle {
          display: inline-block;
          vertical-align: middle;
        }
        .fdb-dot{
          margin: 0 6px;
          color: #c6cbda;
        }
      }
    }
    .text-title{
      font-weight: normal;
      line-height: 1.25em;
      margin: 10px 10px 10px 0;
      &.bold{
        font-weight: bold;
      }
    }
    .label-form{
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .06em;
      line-height: 1.6em;
      @include respond-to(mobile) {
        font-size:12px;
      }
    }
    .fmargin{
      margin-top:5px;
      .styled-h
      .hidden {
        display: none;
      }
    }
    .passengers-form{
      padding: 11px 10px 11px 10px;
      margin: 5px 0 12px 0;
      border: 1px solid #D8DDE6;
      border-radius: 4px 4px 0 0;
      .img-pass-form{
        padding-right: 15px;
        vertical-align: bottom;
        cursor:pointer;
      }
      .pass-pep{
        color: rgb(180, 180, 180);
        font-size: 10pt;
      }
      .pass-pep-number{
        color: $color-primary;
        margin-right:7%;
        &:after{
            content: " ";
            position: absolute;
            height: 35%;
            background: $color-primary;
            opacity: 0.4;
            width: 1px;
            margin-left: 7px;
        }
      }
      .booking-form__toggle-btn{
        width: 13px;
        height: 13px;
        position: absolute;
        outline: none;
        border: none;
        border-radius: 50%;
        color:$color-primary;
        background: transparent;
        font-size:8pt;
        font-weight:800;
        margin-left:10px;
        @include respond-to(mobile) {
          margin-left: -2px;
        }
      }
      .booking-form__passengers {
        margin: 10px 0 0 -10px;
        padding: 10px 15px;
        position: absolute;
        z-index: 100;
        background: #fff;
        width: 90%;
        border: 1px solid rgb(233, 238, 243);
        border-top:none;
      }
      .passengers-list {
        .passengers-list__row {
          padding: 8px 0;
          list-style-type: none;
          border-bottom: 1px solid rgb(207, 207, 207);
        }
      }
      .passengers-chooser {
        display: flex;
        justify-content: space-between;
        .passengers-chooser__title{
          font-weight: normal;
        }
        .passengers-chooser__title:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
        .passengers-chooser__amount {
          padding: 5px;
          border: 1px solid $color-primary;
          border-radius: 20px;
          .passengers-chooser__amount-btn {
            width: 23px;
            border: none;
            border-radius: 50%;
            outline: none;
            font: inherit;
            font-size: 17px;
            color: $color-primary;
          }
          .passengers-chooser__amount-btn:hover {
            color: #fff;
            background: $color-primary
          }
          .passengers-chooser__amount-btn:active {
            color: #c4c4c4;
          }
          .passengers-chooser__amount-field {
            padding: 0 5px 0 5px;
        }
        }
      }
    }
  }

  .button-flight{
    margin: -10px 0 20px 0;
    padding-right: 45px;
    @include respond-to(mobile) {
      margin: 0px 0 20px 0;
      display: flex;
      justify-content: center ;
      padding-right: 0px;
    }
    .btn-flight-search{
      float: right;
      padding: 0 30px 0 30px;
      @include respond-to(mobile) {
        float :none;
      }
    }
  }
}
