.banner-area {
	position: relative;
	z-index: 0;
	height: 110vh;
	@include respond-to(mobile){
		height: 110vh;
	}
	.banner-image {
		height: 110vh;
		@include respond-to(mobile){
			height: 110vh;
		}
	}
	.swiper-container {
		height: 85vh;
		@include respond-to(mobile){
			height: 85vh;
		}
	}
}
.banner-image {
	.swiper-slide {
		background-color: $color-dark;
	}
	.thumb {
		background-position: center top !important;
	}
	.mouse {
		position: absolute;
		bottom: 3em;
		left: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%);
		z-index: 5;
		width: 30px;
		height: 50px;
		border: 1px solid $color-white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 20px;
		&:before {
			content: "";
			width: 3px;
			height: 10px;
			background-color: $color-white;
			position: absolute;
			top: .714em;
			left: 50%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-50%);
			animation: mouse 1.25s cubic-bezier(.4, 0, .2, 1) infinite;
		}
	}
}
@keyframes mouse {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%) translateY(0);
		opacity: 1;
	}
	50% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%) translateY(100%);
		opacity: 1;
	}
	60% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%) translateY(100%);
		opacity: 0;
	}
	70% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%) translateY(0);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%) translateY(0);
		opacity: 1;
	}
}
.banner-caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	// height: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	background-color: rgba(30, 30, 34, .4);
	.arrow {
		width: 0.8em;
		height: 1.2em;
		overflow: hidden;
		position: absolute;
		bottom: -1em;
		left: 3em;
		padding:1em;
		.inner {
			width: 0;
			height: 0;
			border-right: 0.8em solid transparent;
			border-left: 0.8em solid transparent;
			border-top: 1em solid $color-white-50;
			position: absolute;
			bottom: 0;
			left: 2px;
		}
	}
	.maskot-comment{
		&:after{
		background: $maskot;
		background-repeat: no-repeat;
		background-size: 8em;
    display: inline-block;
    width: 8em;
		height: 5em;
		bottom: -7em;
		left: -1em;
		content:"";
		position: absolute;
		}
		background-color: $color-white-50;
		padding: 1em;
		border-radius: 1em;
		.text-title {
			color: $color-dark;
			margin: 0;
			@include respond-to(desktop){
				font-size: 2em;
			}
			font-size: 3em;
			font-weight: 300;
			line-height: 1.2em;
		}
	}
}
