.button-wrapper {
	margin-top: 4em
}

.btn-block + .btn-block {
	margin-top: .5em
}

.btn-priview{
  position: relative;
  bottom: -6em;
  float: right;
  background-color: white !important;
  @include respond-to(mobile)
  { 
    float:none;
    bottom: 0;
  }
  &:hover{
    color: black !important;
  }
}

.btn {
	line-height: 40px;
	height: auto;
	border: 1px solid transparent;
	border-radius: 2px;
	font-weight: 700;
	color: inherit;
	font-size: .8em;
	font-family: "eina";
	letter-spacing: .12em;
	text-transform: uppercase;
	box-shadow: none;
	padding: 0 1em;
	transition: background-color .4s cubic-bezier(.4, 0, .2, 1), color .4s cubic-bezier(.4, 0, .2, 1), border .4s cubic-bezier(.4, 0, .2, 1);
  background-color: $color-custom;
  border-color: transparent;
  color: $color-white;
  &:focus{
    &:active{
      box-shadow: none;
    }
  }
}

.btn-custom{
  border-color: transparent;
	color: $color-white;
  background-color: $color-custom;
  &:focus{
    border-color: transparent;
    color: $color-white;
    background-color: $color-custom;
    &:active{
      border-color: transparent;
      color: $color-white;
      background-color: $color-custom;
    }
  }
  &:hover{
    color: $color-white;
    background-color: $color-custom;
    background-color: $color-custom-hover;
  }
}

.btn-primary{
  border-color: transparent;
	color: $color-white;
  background-color: $color-primary;
  &:focus{
    border-color: transparent;
    color: $color-white;
    background-color: $color-primary;
    &:active{
      border-color: transparent;
      color: $color-white;
      background-color: $color-primary;
    }
  }
  &:hover{
    color: $color-white;
    border-color: transparent;
    background-color: $color-primary-hover;
  }
}

.btn-success{
  border-color: transparent;
	color: $color-white;
  background-color: $color-success;
  &:focus{
    border-color: transparent;
    color: $color-white;
    background-color: $color-success;
    &:active{
      border-color: transparent;
      color: $color-white;
      background-color: $color-success;
    }
  }
  &:hover{
    color: $color-white;
    background-color: $color-success;
    background-color: $color-success-hover;
  }
}

.btn-info{
  border-color: transparent;
	color: $color-white;
  background-color: $color-info;
  &:focus{
    border-color: transparent;
    color: $color-white;
    background-color: $color-info;
    &:active{
      border-color: transparent;
      color: $color-white;
      background-color: $color-info;
    }
  }
  &:hover{
    color: $color-white;
    background-color: $color-info;
    background-color: $color-info-hover;
  }
}

.btn-danger{
  border-color: transparent;
	color: $color-white;
  background-color: $color-danger;
  &:focus{
    border-color: transparent;
    color: $color-white;
    background-color: $color-danger;
    &:active{
      border-color: transparent;
      color: $color-white;
      background-color: $color-danger;
    }
  }
  &:hover{
    color: $color-white;
    background-color: $color-danger;
    background-color: $color-danger-hover;
  }
}

.btn-rounded {
	border-radius: 3em;
	padding: 0 3em
}

.btn-o{
  &:focus{
    border: 2px solid $color-dark;
    color: $color-dark;
    background-color: transparent;
    line-height: 38px;
    &:active {
      border: 2px solid $color-dark;
      color: $color-dark;
      background-color: transparent;
      line-height: 38px;
    }
  }
  &:hover {
    background-color: $color-dark;
    color: $color-white
  }
  &.btn-custom{
    border-color: $color-custom;
    color: $color-custom;
    background-color: transparent;
    &:focus{
      border-color: $color-custom;
      color: $color-custom;
      background-color: transparent;
      &:active{
        border-color: $color-custom;
        color: $color-custom;
        background-color: transparent;
      }
    }
    &:hover{
      background-color: $color-custom;
      border-color: $color-custom;
      color: $color-white
    }
  }

  &.btn-primary{
    border-color: $color-primary;
    color: $color-primary;
    background-color: transparent;
    &:focus{
      border-color: $color-primary;
      color: $color-primary;
      background-color: transparent;
      &:active{
        border-color: $color-primary;
        color: $color-primary;
        background-color: transparent;
      }
    }
    &:hover{
      background-color: $color-primary;
      border-color: $color-primary;
      color: $color-white
    }
  }

  &.btn-success{
    border-color: $color-success;
    color: $color-success;
    background-color: transparent;
    &:focus{
      border-color: $color-success;
      color: $color-success;
      background-color: transparent;
      &:active{
        border-color: $color-success;
        color: $color-success;
        background-color: transparent;
      }
    }
    &:hover{
      background-color: $color-success;
      border-color: $color-success;
      color: $color-white
    }
  }

  &.btn-light{
    border-color: rgb(220, 224, 224) ;
    color: #2B2826;
    background-color: $color-white;
    &:focus{
      border-color: rgb(220, 224, 224) ;
      color: #2B2826;
      &:active{
        border-color: rgb(235, 235, 235);
        color: gray;
      }
    }
    &:hover {
      border-color: rgb(235, 235, 235);
      background-color: rgb(235, 235, 235);
      color: $color-dark;
    }
  }

  &.btn-info{
    border-color: $color-info;
    color: $color-info;
    background-color: transparent;
    &:focus{
      border-color: $color-info;
      color: $color-info;
      background-color: transparent;
      &:active{
        border-color: $color-info;
        color: $color-info;
        background-color: transparent;
      }
    }
    &:hover{
      background-color: $color-info;
      border-color: $color-info;
      color: $color-white
    }
  }

  .btn-danger{
    border-color: $color-danger;
    color: $color-danger;
    background-color: transparent;
    &:focus{
      border-color: $color-danger;
      color: $color-danger;
      background-color: transparent;
      &:active{
        border-color: $color-danger;
        color: $color-danger;
        background-color: transparent;
      }
    }
    &:hover{
      background-color: $color-danger;
      border-color: $color-danger;
      color: $color-white
    }
  }
}
.btn-o-white{
	border-color: $color-white;
	color: $color-white;
  &:focus{
    border-color: $color-white;
    color: $color-white;
    &:active{
      border-color: $color-white;
      color: $color-white;
    }
  }
  &:hover {
    background-color: $color-white;
    color: $color-dark;
  }
}

.btn-lg {
	padding: 0 2em;
	line-height: 50px;
  height: auto;
  line-height: 48px;
  &:focus{
    line-height: 48px;
    &:active{
      line-height: 48px;
    }
  }
}

.btn-sm {
	font-family: inherit;
	font-weight: 600;
	font-size: .714em;
	height: auto;
	border-radius: 1px;
  line-height: 34px;
  .btn-o {
    line-height: 32px !important
  }
}

.btn-link {
	padding: 0;
	position: relative;
	display: inline-block;
	line-height: inherit;
	background-color: transparent;
	color: $color-primary;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: normal;
	text-transform: none;
  text-decoration: none !important;
  &:focus{
    color: $color-custom1;
    &:after{
      transform: scaleX(0);
      transform-origin: right
    }
    &:active{
      color: $color-custom1;
      &:after{
        transform: scaleX(0);
        transform-origin: right
      }
    }
  }
  &:hover{
    color: $color-custom1;
    &:after{
      transform: scaleX(0);
      transform-origin: right
    }
  }
  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-custom1;
    transform-origin: left;
    transition: transform .4s cubic-bezier(.4, 0, .2, 1)
  }
}

.btn-icon {
	padding: 0;
	width: 32px;
	line-height: 30px;
  border-radius: 50%;
  i {
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    transform: rotate(90deg)
  }
}