.community-events {
  // color: red;
  min-height: 100vh;
  overflow-x: hidden;
  .mb {
    margin-bottom: 20px;
  }
  .container {
    .search {
      display: flex;
      input {
        border-radius: 6px 0px 0px 6px;
      }
    }
    .data-filter {
      background: white;
      padding: 0px;
      display: flex;
      flex-direction: column;
      .cell {
        border-top: 1px solid #e17306;
        padding: 15px 20px;
        p {
          font-size: 1.2em;
          font-weight: 700;
        }
        .cell-row {
          margin-bottom: 5px;
          label, input {
            margin-bottom: 0px;
            margin-top: 0px;
          }
          label {
            margin-left: 10px;
            font-size: 1.2em;
          }
        }
        &:last-child {
          border-bottom: 1px solid #e17306;
        }
      }
    }
    .data-table {
      .card {
        background: white;
        padding: 0px;
        img {
          width: 100%;
          height: 160px;
          object-fit: cover;
        }
        .card-body {
          padding: 10px;
          min-height: 260px;
          .venue {
            color: #e17306;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}