@include respond-to(wide-screens) {
  .container {
		width: 1280px
	}
}

.container {
	padding: 0 1em
}

.container-fluid {
	padding: 0 1em
}

.content-wrap {
	position: relative;
	transform: translateZ(0);
	padding: .5em 0;
}