.swal2-popup{
  border-radius: 0 !important;
  .swal2-actions{
    &:not(.swal2-loading){
      .swal2-styled.swal2-confirm {
        background-color: $color-primary !important;
        border-radius: 0 !important;
      }

    }
    .swal2-styled.swal2-cancel {
      border-radius: 0 !important;
    }
  }
}
