.datepicker-dropdown {
	&:before {
		display: none;
	}
	&:after {
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $color-dark;
	}
	&.datepicker-orient-top {
		&:before {
			bottom: -7px;
			border-bottom: 0;
			border-top: 7px solid $color-dark;
		}
		&:after {
			bottom: -7px;
			border-bottom: 0;
			border-top: 7px solid $color-dark;
		}
	}
	&.datepicker-orient-bottom::before {
		top: -7px;
	}
	&.datepicker-orient-left {
		&:before {
			left: 1.5em;
		}
		&:after {
			left: 1.5em;
		}
	}
	&.datepicker-orient-right::after {
		right: 1.5em;
	}
	&.datepicker-orient-bottom:after {
		top: -7px;
	}
}
.datepicker {
	th {
		font-weight: normal;
		font-size: .857em;
		color: $color-white;
		@extend %extend_1;
	}
	td {
		@extend %extend_1;
		&.day {
			*border: 1px solid rgba(255, 255, 255, .05) !important;
			border: none !important;
			color: $color-white;
			&.disabled {
				border: none;
			}
			&.old {
				border: none;
			}
		}
	}
	.datepicker-switch {
		font-size: 1.2em;
		font-weight: 600;
		color: $color-white;
		&:hover {
			background-color: transparent;
		}
	}
	.prev {
		color: $color-white-50;

		transition: color .3s ease;
		&:hover {
			background-color: transparent;
			color: $color-white;
		}
	}
	.next {
		color: $color-white-50;

		transition: color .3s ease;
		&:hover {
			background-color: transparent;
			color: $color-white;
		}
	}
	table tr td {
		@extend %extend_4;
		&.active {
			border-color: $color-default-hover;
	
			text-shadow: none !important;
			&.active {
				@extend %extend_2;
				&.today:hover {
					@extend %extend_2;
				}
			}
			&:hover {
				border-color: $color-default-hover;
		
				text-shadow: none !important;
				&:hover {
					@extend %extend_2;
				}
			}
			&:before {
		
				transform: scale(1);
				opacity: 1;
			}
		}
		&.selected {
			@extend %extend_2;
			&.disabled {
				@extend %extend_2;
				&:hover {
					@extend %extend_2;
				}
			}
			&:hover {
				@extend %extend_2;
			}
			&:before {
		
				transform: scale(1);
				opacity: 1;
			}
		}
		span {
			width: 25%;
			height: 52px;
			line-height: 52px;
			margin: 0;
			cursor: pointer;
	
			border-radius: 0;
			border: 1px solid rgba(255, 255, 255, .05);;
			display: block;
			float: left;
			border: none !important;
	
			text-shadow: none !important;
			@extend %extend_4;
			&.active {
				background-color: transparent !important;
				@extend %extend_7;
				&.active {
					@extend %extend_3;
					&:hover {
						@extend %extend_3;
					}
				}
				&:hover {
					@extend %extend_3;
				}
				&:before {
			
					transform: scale(1);
					opacity: 1;
					background-color: transparent;
					border: 2px solid $color-primary;
				}
			}
			&:hover {
				background-color: transparent !important;
			}
			&.focused {
				background-color: transparent !important;
				color: $color-white !important;
				&.active {
					color: $color-white !important;
					&:before {
						background-color: $color-primary;
						border: none;
					}
				}
				&:before {
			
					transform: scale(1);
					opacity: 1;
				}
			}
			&:before {
				@extend %extend_6;
				top: 3px;
				left: 3px;
				right: 3px;
				bottom: 3px;
			}
			&:not(.disabled) {
				&:hover::before {
			
					transform: scale(1);
					opacity: 1;
				}
				&:not(.active):hover {
					color: $color-white !important;
				}
			}
		}
		&.old {
			color: rgba(255, 255, 255, .25);;
			&.today {
				@extend %extend_3;
			}
		}
		&.today {
			@extend %extend_3;
			@extend %extend_7;
			&:hover {
				@extend %extend_3;
				&:hover {
					@extend %extend_3;
				}
			}
			&:before {
		
				transform: scale(1);
				opacity: 1;
				background-color: transparent;
				border: 2px solid $color-primary;
			}
			&.selected.range-start {
				color: $color-white !important;
				&:before {
					background-color: $color-primary;
					border: none;
				}
			}
			&.active.day:before {
				background-color: $color-primary;
				border: none;
			}
		}
		&.range {
			background-color: transparent;
			@extend %extend_5;
			&.disabled {
				background-color: transparent;
				@extend %extend_5;
				&:hover {
					background-color: transparent;
					@extend %extend_5;
				}
			}
			&:hover {
				background-color: transparent;
				@extend %extend_5;
			}
			&.today {
				@extend %extend_5;
			}
			&:before {
		
				transform: scale(1);
				opacity: 1;
				background-color: #4c4a4a;
				color: $color-white;
			}
		}
		&.new {
			color: rgba(255, 255, 255, .25);;
		}
		&.disabled {
			color: rgba(255, 255, 255, .25);;
			&:hover {
				color: rgba(255, 255, 255, .25);;
			}
		}
		&.day {
			&.active {
				color: $color-white !important;
			}
			&:before {
				@extend %extend_6;
			}
			&:not(.disabled):not(.today) {
				&:hover::before {
			
					transform: scale(1);
					opacity: 1;
				}
				&:not(.range):hover {
					background-color: transparent !important;
					color: $color-white;
				}
			}
		}
		&.range-start {
			color: $color-white !important;
			&:before {
		
				transform: scale(1);
				opacity: 1;
			}
		}
		&.range-end {
			color: $color-white !important;
			&:before {
		
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}
.datepicker .icon-arrow {
	font-size: 1.2em;
}

.SingleDatePicker{
	width: 100%;
}

.SingleDatePickerInput{
	width: 100% !important;
}

.DateInput__small{
	width: 100% !important;
}
