.daterangepicker {
	margin-top: .72em;
	border: none;
	font-size: inherit;
	border-radius: 2px;
	background-color: $color-dark;
	font-family: $font-1;
	color: $color-white;
	&:before {
		top: -7px;
		border-right: 7px solid transparent;
		border-left: 7px solid transparent;
		border-bottom: 7px solid $color-dark;
	}
	&:after {
		display: none;
		top: -6px;
		border-right: 6px solid transparent;
		border-bottom: 6px solid $color-white;
		border-left: 6px solid transparent;
	}
	&.drop-up::before {
		top: initial;
		bottom: -7px;
		border-bottom: initial;
		border-top: 7px solid $color-dark;
	}
	.drp-calendar {
		&.left {
			padding: 1em;
			padding-right: .5em;
		}
		&.right {
			padding: 1em;
			padding-left: .5em;
		}
	}
	.calendar-table {
		border: none;
		background-color: transparent;
		th {
			border: none;
		}
		td {
			border: none;
		}
		.next span {
			border: solid $color-white;
			border-width: 0 1px 1px 0;
		}
		.prev span {
			border: solid $color-white;
			border-width: 0 1px 1px 0;
		}
	}
	th {
		font-weight: normal;
		&.month {
			font-weight: 600;
			font-size: 1.2em;
		}
		&.available:hover {
			background-color: transparent;
			color: $color-white;
		}
	}
	td {
		position: relative;

		transform: translateZ(0);

		transition: color .25s cubic-bezier(.4, 0, .2, 1);
		&.available {
			&:hover {
				background-color: transparent;
				color: $color-white;
			}
			&:before {
				content: "";
				position: absolute;
				width: 30px;
				height: 30px;
		
				border-radius: 50%;
				top: 50%;
				left: 50%;
		
				transform: translate(-50%, -50%) scale(.5);
		
				transform-origin: center;
				opacity: 0;
				background-color: #4c4a4a;
				z-index: -1;
		
				transition: transform .25s cubic-bezier(.4, 0, .2, 1), opacity .25s cubic-bezier(.4, 0, .2, 1);
			}
			&:hover::before {
		
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
			}
		}
		&.off {
			background-color: transparent;
			color: rgba(255, 255, 255, .35);;
			&:hover {
				background-color: transparent;
				color: rgba(255, 255, 255, .35);;
			}
			&.start-date {
				color: $color-white !important;
				background-color: transparent !important;
			}
			&:not(.active):not(.in-range):before {
				display: none;
			}
		}
		&.active {
			color: $color-white !important;
			background-color: transparent !important;
		}
		&.in-range {
			color: $color-white !important;
			background-color: transparent !important;
			&:before {
		
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
			}
		}
		&.start-date {
			color: $color-white !important;
			background-color: transparent !important;
			&:before {
		
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
				background-color: $color-primary;
			}
		}
		&.end-date:before {
			background-color: $color-primary;
		}
	}
	&.opensright:before {
		left: 1em;
	}
	&.ltr .drp-calendar.left .calendar-table {
		padding: 0;
	}
}

.input-daterange input {
	text-align: left;
	border-radius: 3px !important;
}