.dropdown {
	position: relative;
}
.dropdown-menu-custom {
	padding: 0;
	border-radius: 2px;
	border: none;
	min-width: 140px;
	box-shadow: none;
	background-color: transparent;
	overflow: hidden;
	display: block;
	visibility: hidden;
	transition: visibility .4s;
}
.open {
	.dropdown-menu-custom {
		visibility: visible;
	}
	.dropdown-menu ul {

		transform: translateY(0);
	}
}
.dropdown-menu {
	ul {
		margin: 0;
		padding: 1.2em 1.75em;
		list-style: none;

		border-radius: 2px;
		background-color: $color-dark;
		white-space: nowrap;

		transform: translateY(-100%);

		transition: transform .25s cubic-bezier(.4, 0, .2, 1);
		li {
			position: relative;
			+ li {
				margin-top: .5em;
			}
			a {
				padding: 0;
				display: inline-block;
				color: $color-white-50;
		
				transition: color .25s cubic-bezier(.4, 0, .2, 1), margin .25s cubic-bezier(.4, 0, .2, 1);
				&:hover {
					color: $color-white;
					margin-left: .35em;
				}
			}
		}
	}
	&.datepicker {
		padding: 1.5em;

		border-radius: 2px;
		border: none;
		background-color: $color-dark;

		box-shadow: none;
		width: auto;
		z-index: 9999 !important;
		&.datepicker-orient-bottom {
			margin-top: 10px !important;
		}
		&.datepicker-orient-top {
			margin-top: 0;
	
			transform: translateY(10px);
		}
	}
}
.dropdown-header {
	margin: -1.2em -1.75em 0;
	font-size: 1em;
	padding: 1.2em 1.75em 1em;
	color: $color-white;
}