.main-header.navbar-active{
	position: relative;
	background-color:$color-dark;
}
.cart-empty{
	margin-left:auto;
	margin-right: auto;
}
.main-header {
	position: relative;
	//top: 0;
	//left: 0;
	//right: 0;
  //z-index: 4;
  //// background-color: $color-dark-60;

	.container {
		display: flex;
		align-items: center;
	}
	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: -2;
	}
}
.cart-list{
	padding: 1em 0;
	.box-img-icon{
		width: 50px;
		height: 50px;
		margin-top: auto;
		margin-bottom: auto;
	}
	a{
		width: 100%;
		color:$color-dark;
		display: inline-flex;
		span{
			margin-left:1em;
			margin-top: auto;
			margin-bottom: auto;
			white-space: pre-wrap;
		}
		.price{
			min-width: 100px;
			margin-left: auto;
			margin-top: auto;
			margin-bottom: auto;
			position: relative;
			display: flex;
			text-align: right;
			justify-content: end;
			span{
				position: absolute;
				&.qty{
					top: -1.5em;
					font-size: 0.8em;
				}
				&.price-before{
					bottom: -1.5em;
					right: 0;
					font-size: 0.8em;
				}
			}
		}
	}
}
.shopping-cart{
	.badge{
		position: absolute;
		right: -5px;
		top:	-5px;
		background-color: $color-primary;
	}
	z-index: 2;
	margin-left: 1em;
	position: relative;
	margin: 15px 0 0 0;
	.dropdown-menu {
		.box-img{
			width: 80px;
			position: relative;
			overflow: initial;
			.box-img-icon{
				width: 50px;
				height: 50px;
				margin-top: auto;
				margin-bottom: auto;
			}
			&:after{
				padding-top:0;
			}
		}
		.text-cart{
			margin-left: 15px;
			width: 100%;
			overflow: hidden;
			padding-right: 10px;
			display: flex;
			align-items: center;

			.text-title{
				font-family: "eina";
				display: block;
				margin-bottom: 5px;
				max-width: 400px;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 1em;
				font-weight: 700;
				@include respond-to(mobile){
					font-size: 0.9em;
					margin-bottom: 0px;

				}
			}
		}
		width: 400px;

		@include respond-to(mobile){
			width: 300px;
			position: absolute;
			right: -6.5em;
			margin-top:10px;
			&:before {
				content: "";
				position: absolute;
				right: 99px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent #ffffff transparent;
				z-index: 9999;
				float: right;
			}
		}
		ul{
			// min-height: 150px;
			background: #fff;
			@include respond-to(mobile){
				margin-top: 10px;
			}
			li{
				.goto-cart{
					z-index:3;
					color:white;
					&:hover{
						color: black;
						border:none
					}
				}
				&:last-child{
					a{
						justify-content: center;
					}
				}
				width: 100%;
				a{
					&:hover{
						color: $color-dark;
						// padding:5px 10px 5px 10px;
						&:span{
							&:first-child{
								color: $color-primary;
							}
						}
					}
					width: 100%;
					color:$color-dark;
					display: inline-flex;
					span{
						margin-left:1em;
						margin-top: auto;
						margin-bottom: auto;
						white-space: pre-wrap;
						&:hover{
							color:$color-dark;
						}
					}
					.price{
						margin-left: auto;
						margin-top: auto;
						margin-bottom: auto;
						position: relative;
						display: flex;
						justify-content: end;
						@include respond-to(mobile){
							font-size: 0.8em;
							font-weight: 700;
						}
						span{
							position: absolute;
							&.qty{
								top: -1.5em;
								right: 0;
								font-size: 0.8em;

								@include respond-to(mobile){
									font-size: 0.6em;
								}
							}
							&.price-before{
								bottom: -1.5em;
								right: 0;
								font-size: 0.8em;
							}
						}
					}
				}
			}
		}
	}
}

.box-svg {
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 40px;
	height: 40px;
	font-size: 1.6em;
	@include respond-to(mobile){
		width: 35px;
		height: 35px;
		font-size: 1.2em;
	}
	border-radius: 50%;
	background: #9f9f9f8f;
}
.user-header {
	position: relative;
	margin-left: 1em;
	margin-top:15px;
	z-index: 2;
	.link {
		color: $color-white !important;
		font-weight: normal;
		cursor: pointer;
		&:after {
			background-color: $color-white;
		}
	}
	.dropdown-menu {
		min-width: 180px;
	}
	.amount {
		position: absolute;
		display: block;
		right: 0;
		top: 4px;
		font-size: .6em;
		width: 18px;
		height: 18px;
		line-height: 16px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		text-align: center;
		background-color: $color-primary;
		color: $color-white;
	}
	.user-email {
		font-size: .86em;
		color: rgba(255, 255, 255, .5);
	}
	.user-log{
		margin-top: -23px;
	}
	.user-avatar .box-img-icon {
		margin: 0;
		width: 40px;
		height: 40px;
		@include respond-to(mobile){
			width: 35px;
			height: 35px;
		}
		.thumb{
			border-radius: 50%;
		}
	.user-avatar .text-cart{
		white-space: nowrap;
	}
  }
  @include respond-to(tabs) {
		margin-left: 1em;
		margin-right: 1em;
		margin-top:10px;
  }
}
.search-mobile{
	display:none;
	margin-left: auto;
	margin-right: 13px;
    margin-top: 10px;
	position: relative;
	@include respond-to(tabs){
		display:block;
	}
}
.lang-header {
	position: relative;
	margin-left: auto;
	.lang-toggle {
		font-weight: normal;
		color: $color-white;
		&:after {
			content: "\e64b";
			font-family: $font_0;
			font-size: .714em;
			margin-left: 1em;
		}
  }
  @include respond-to(tabs){
    display: none
  }
}
.toggle-menu-wrapper {
  display: none;
  @include respond-to(tabs){
    position: relative;
    margin-left: 0;
    z-index: 10;
		display: flex;
		display: -webkit-flex;
		justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 60px;
    .label-menu {
      display: none;
      overflow: hidden;
      position: relative;
      height: 14px;
      line-height: 1em;
      vertical-align: middle;
      font-weight: normal;
      margin-right: 1em;
      color: $color-white;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: color .4s cubic-bezier(.4, 0, .2, 1);
      //Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
      transition-delay: .4s;
    }
    .lang-header {
      display: none
    }
    .user-header {
      margin-left: 0
    }
  }
}

.logo-header {
	position: relative;
	z-index: 2;
	display: block;
	width: 70px;
	height: 40px;
  	margin: 0.5em 0;
	padding-top: 10px;
	//background-image: $logo-white;
	background-size: contain;
  background-repeat: no-repeat;
  // @include respond-to(tabs) {
  //   position: absolute;
	// 	top: 0;
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// 	margin: 0;
	// 	width: 60px;
	// 	height: 60px;
	// 	background-position: center
  // }
}

.active-menu {
	.toggle-menu {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(180deg);
	}
	.nav-header {
		visibility: visible;
		&:before {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleY(1);
			//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
			transition-delay: 0s;
		}
	}
	.menu-header {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
		opacity: 1;
		//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: .2s;
	}
	.toggle-menu-wrapper .label-menu {
		color: $color-white;
		//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: .15s;
		&:before {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
		&:after {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
	}
	.toggle-menu-icon span {
		background-color: $color-white;
		width: 100%;
		//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: .2s;
		&:first-child {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate3d(0,7px,0) rotate3d(0,0,1,45deg);
		}
		&:nth-child(2) {
			opacity: 0;
		}
		&:last-child {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate3d(0,-7px,0) rotate3d(0,0,1,-45deg);
		}
	}
}

.toggle-menu {
	width: 26px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform .4s cubic-bezier(.4, 0, .2, 1);
}
.nav-header {
  @include respond-to(tabs){
		visibility: hidden;
		z-index: 3;
  }
	position: absolute;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateZ(0);
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	.container {
		display: block;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-dark;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scaleY(0);
		//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
		transform-origin: top;
		z-index: -1;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform .6s cubic-bezier(.4, 0, .2, 1);
		//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: .2s;
  }
  @include respond-to(tabs){
    padding: 6.5em 0 3em;
		text-align: center;
  }
}
.menu-header {
  margin-left: calc(8% + 70px);
  .footer{
    visibility: hidden;
  }
  @include respond-to(tabs){
    opacity: 0;
    transform: translateY(-25%);
    transition: transform .6s cubic-bezier(.4, 0, .2, 1), opacity .6s cubic-bezier(.4, 0, .2, 1);
    transition-delay: 0s;
    margin-left: 0;
    .footer{
      visibility: visible;
      margin-top: 3em;
      align-items: center;
      display: block;
      .social-icon {
        margin-top: 1em
      }
    }
  }
}
.menu {
  display: inline-flex;
  padding: 0;
  list-style: none;
  li {
    margin-top:1em;
    + li {
      margin-left: 1em;
    }
    a {
      display: inline-block;
      color: $color-white;
      font-family: $font_2;
      font-size: 1em;
      font-weight: 400;
      letter-spacing: 1px;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: color .4s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
      &:hover {
        color: $color-primary-hover;
      }
    }
  }
  @include respond-to(tabs){
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      + li {
        margin-top: 1em;
      }
      a {
        display: inline-block;
        color: $color-white;
        font-family: $font_2;
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: 1px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: color .4s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
        &:hover {
          color: $color-white;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: translateX(.5em);
        }
      }
    }
    &:hover li a {
      color: rgba(255, 255, 255, .35);
    }
  }
}
.main-header{
  .apparent-menu{
    z-index:unset;
    position: relative;
  }
}
.apparent-menu{
  background-color: $color-dark;
}
