.jumbotron .display-4 {
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

.jumbotron {
    @include respond-to(mobile) {
        background-image: url(../../static//images/pict1.png);
        background-size: cover;
        width: 100%
    }
}

.row .round2 {
    @include respond-to(mobile) {
        text-align: center;
    }
}

._btn1 {
    @include respond-to(mobile) {
        text-align: center;
    }
}

._btn2 {
    @include respond-to(mobile) {
        text-align: center;
    }
}

._btn3 {
    @include respond-to(mobile) {
        text-align: center;
    }
}
.row .round1 {
    @include respond-to(mobile) {
        text-align: center;
    }
}

.jumbotron {
    @include respond-to(tabs) {
        background-image: url(../../static/images/pict1.png);
        background-size: cover;
        width: 100%;
    } 
}

.row .round1 {
    @include respond-to(tabs) {
        text-align: right;
    }
}

.row .round2 {
    @include respond-to(tabs) {
        text-align: left;
    }
}

._btn1 {
    @include respond-to(tabs) {
        text-align: right;
    }
    
}

._btn2 {
    @include respond-to(tabs) {
       text-align: center; 
    }
    
}

._btn3 {
    @include respond-to(tabs) {
        text-align: left;
    }
    
}

/* Desktop version */
@media (min-width: 992px) {
    .jumbotron {
        background-image: url(../../static/images/pict1.png);
        background-size: cover;
        width: 100%;
    }

    .row .round1 {
        text-align: right;
    }

    .row .round2 {
        text-align: left;
    }

    ._btn1 {
        text-align: right;
    }

    ._btn2 {
        text-align: center;
    }

    ._btn3 {
        text-align: left;
    }
}