$color-base: #ccc;
$color-highlight: lighten($color-base, 7%);
%extend_skeleton {
	position: relative;
  overflow: hidden;
  width: 100%;
  background: $color-base;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);
    animation: skeleton 1s ease-in-out infinite;
  }
}
@keyframes fadeInImg{
  from {
    opacity: 0
  }
  to{
    opacity: 1
  }
}
.img-loading{
   opacity: 0;
   width: 100%;
   height: auto;
}
.img-loaded{
   animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
   position: relative;
   opacity: 0;
   animation-fill-mode: forwards;
   animation-duration: 0.7s;
   animation-delay: 0.1s;
}
@keyframes skeleton {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
.item-list{
  @include respond-to(mobile){
    &:nth-child(odd){
      padding-left: 0;
      padding-right: 0.5em;
    }
    &:nth-child(even){
      padding-left: 0.5em;
      padding-right: 0;
    }
    &:nth-child(n+3) {
      display: none;   
    }
  }
}
.loading{
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
  margin-bottom:1em;
  .panel-body{
    min-height: 2em;
    @extend %extend_skeleton;
  }
  .skeleton-text{
    min-height: 20px;
    margin-bottom: 1em;
    @extend %extend_skeleton;
  }
  .product-list{
    .p-item{
      padding: 0 0.5em;
    }
  }
  .plan-item{
    margin-bottom: 0;
    .box-img{
      min-height: 150px;
      @extend %extend_skeleton;
    }
    .plan-info {
      padding: 0.8em;
      background-color: $color-white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      ul {
        height: 150px;
        margin: 0;
        padding: 0;
        list-style: none;
        p{
          margin-bottom: 0.2em;
        }
        li {
          + li {
            margin-top: .25em;
          }
          &.title{
            @extend %extend_skeleton;
            height: 40px;
            margin-bottom: 10px;
          }
          &.min-person{
            @extend %extend_skeleton;
            height: 20px;
            width: 60%;
          }
          &.price{
            width: calc(100% - 1.6em);
            .price-before{
              width: 80%;
              top:-5px;
              @extend %extend_skeleton;
              height: 20px;
            }
            .notice{
              @extend %extend_skeleton;
              height: 20px;
            }
          }
        }
      }
    }
  }

  .blog-content{
    .article-img{
      @include respond-to(desktop){
        min-height: 250px;
      }
      @include respond-to(tabs){
        min-height: 230px;
      }
      @include respond-to(mobile){
        min-height: 170px;
      }
      @extend %extend_skeleton;
    }
    .single-desc{
      .text-label{
        width: 100px;
        height: 20px;
        margin-bottom: 1em;
        @extend %extend_skeleton;
      }
      .single-title{
        @extend %extend_skeleton;
        min-height: 2em;
      }
      .readmore{
        width: 100px;
        height: 20px;
        margin-top: 1em;
        @extend %extend_skeleton;
        
      }
    }
  }

}
#preloader-lay {
  position: fixed;
  top: 0;

  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: linear-gradient(rgba(255,255,255,0.6), rgba(0,0,0,0.6));;
  filter:blur(2px)
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000
}

#preloader:before,
#preloader:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: top;
	transition: transform .8s cubic-bezier(.4, 0, .2, 1)
}

// #preloader:before {
// 	background-color: #e17306
// }

// #preloader:after {
// 	background-color: #FFFFFF
// }

.page-load #preloader:after {
	transform-origin: bottom;
	z-index: 2;
	animation: pageLoad .8s .4s cubic-bezier(.4, 0, .2, 1) forwards
}

.page-load #preloader:before {
	transform-origin: bottom;
	animation: pageLoad .8s cubic-bezier(.4, 0, .2, 1) forwards
}

@keyframes pageLoad {
	0%{transform: scaleY(0)}
	100%{transform: scaleY(1)}
}

.load #preloader:before,
.load #preloader:after {
	transform: scaleY(0)
}

.load #preloader:before {
	transition-delay: .4s
}

#preloader #status {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.075);
	z-index: 2;
	animation: head .8s cubic-bezier(.4, 0, .2, 1) forwards
}

@keyframes head {
	0% {
		transform: translate(-50%, -50%) scale(.5);
		opacity: 0
	}
	50% {
		transform: translate(-50%, -50%) scale(1.25);
		opacity: 1
	}
	80% {
		transform: translate(-50%, -50%) scale(.95);
		opacity: 1
	}
	100% {
		transform: translate(-50%, -50%) scale(1.075);
		opacity: 1
	}
}

#preloader #status span {
	display: block
}

#preloader #status span:nth-child(1) {
	width: 50px;
	height: 45px;
	border-radius: 50%;
	border: 10px solid #e17306
}

#preloader #status span:nth-child(2) {
	position: absolute;
	top: -7px;
	left: 9px;
	width: 10px;
	height: 16px;
	border-radius: 10px;
	background-color: #e17306;
	transform-origin: center bottom;
	transform: rotate(-25deg);
	animation: earLeft 2s .35s ease infinite
}

#preloader #status span:nth-child(3) {
	position: absolute;
	top: -11px;
	right: 8px;
	width: 10px;
	height: 22px;
	border-radius: 10px;
	background-color: #e17306;
	transform-origin: center bottom;
	transform: rotate(25deg);
	animation: earRight 2s ease infinite
}

@keyframes earLeft {
	0%,53%,100% {transform: rotate(-25deg)}
	5%,31% {transform: rotate(-16deg)}
	23% {transform: rotate(-45deg)}
	44% {transform: rotate(-36deg)}
}

@keyframes earRight {
	0%,53%,100% {transform: rotate(25deg)}
	5%,31% {transform: rotate(16deg)}
	23% {transform: rotate(45deg)}
	44% {transform: rotate(36deg)}
}