@import 'buttons',
        'header',
        'banner',
        'container',
        'datepicker',
        'daterangepicker',
        'dropdown',
        'nav-tab',
        'pagination',
        'rating',
				'react-tabs',
				'loading',
				'alert',
				'customswal',
				'search',
				'activity',
				'planning',
				'npprogress',
				'spinner',
				'date',
        'community-events';
				
				$color_1: #555;
				$color_2: #999;
				$color_3: #fff;
				$background_color_1: rgba(0,0,0,.3);
				
				/*
						Image credits:
						uifaces.com (http://uifaces.com/authorized)
				*/
				.no-margin-bottom{
					margin-bottom: 0px !important;
				}
				.react-datepicker-wrapper{
					width: 100%
				}
				.react-datepicker__input-container{
					width: 100%
				}
				
				.margin-bottom-1{
					margin-bottom: 2em
				}
				#login {
					display: none;
				}
				.login {
					position: absolute;
					top: -3px;
					right: 0;
				}
				.logout {
					position: absolute;
					top: -3px;
					right: 0;
				}
				.page-header {
					position: relative;
				}
				.reviews {
					color: $color_1;
					font-weight: bold;
					margin: 10px auto 20px;
				}
				.notes {
					color: $color_2;
					font-size: 12px;
				}
				.media {
					.media-object {
						max-width: 120px;
					}
				}
				.media-body {
					position: relative;
				}
				.media-date {
					position: absolute;
					right: 25px;
					top: 25px;
					li {
						padding: 0;
						&:first-child {
							&:before {
								content: '';
							}
						}
						&:before {
							content: '.';
							margin-left: -2px;
							margin-right: 2px;
						}
					}
				}
				.media-comment {
					margin-bottom: 20px;
				}
				.media-replied {
					margin: 0 0 20px 50px;
					.media-heading {
						padding-left: 6px;
					}
				}
				.btn-circle {
					font-weight: bold;
					font-size: 12px;
					padding: 6px 15px;
					border-radius: 20px;
					span {
						padding-right: 6px;
					}
				}
				.btn-comment{
					padding: 0px 13px !important;
					margin-left: 10px
				}
				.embed-responsive {
					margin-bottom: 20px;
				}
				.tab-content {
					padding: 50px 15px;
					border: 1px solid #ddd;
					border-top: 0;
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
				}
				.custom-input-file {
					overflow: hidden;
					position: relative;
					width: 120px;
					height: 120px;
					background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
					background-size: 120px;
					border-radius: 120px;
					&:hover {
						.uploadPhoto {
							display: block;
						}
					}
				}
				input[type="file"] {
					z-index: 999;
					line-height: 0;
					font-size: 0;
					position: absolute;
					opacity: 0;
					filter: alpha(opacity = 0);
					-ms-filter: "alpha(opacity=0)";
					margin: 0;
					padding: 0;
					left: 0;
				}
				.uploadPhoto {
					position: absolute;
					top: 25%;
					left: 25%;
					display: none;
					width: 50%;
					height: 50%;
					color: $color_3;
					text-align: center;
					line-height: 60px;
					text-transform: uppercase;
					background-color: $background_color_1;
					border-radius: 50px;
					cursor: pointer;
				}
				

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  padding: 0;
  margin-bottom: 2em;
}
.scrollmenu li{
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
  font-size: 18px;
}
.scrollmenu a{
  color: white !important;
}
.bg-content-home:nth-child(even){
	// background: #F5F7FA !important;
}
.bg-content-home{
	.thankyou{
		display: flex;
		flex-direction: column;
		justify-content: center;
		.thankyou-content{
			text-align: center;
			margin-bottom: 20px;
		}
		.thankyou-button{
			width: 30%;
			align-self: center;
			@include respond-to(mobile){
				width: 60%;
			}
		}
	}
	.term-text{
		text-align: justify;
	}
}
.bg-content-home:nth-child(odd){
	background: #fff !important;
}
.shadow{
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}
$color_1: #fff;
$background_color_1: #e17306;
$background_color_2: #b96007;
$background_color_3: #fff;

ul.pass-box-qty {
	text-align: center;
	padding: 0px;
	display: inline-table;
	right:0;
	
	li {
		display: inline-block;
		
		button {
				border-radius: 100%;
				border-color: $background_color_1;
				background-color: transparent;
				color: $background_color_1;
				border-style: unset;
				border: 1px solid $background_color_1;

				&:hover{
					color:  $background_color_2;
					background-color:rgba(255, 212, 139, 0.164);
				}
			}
		
		&:nth-child(2) {
			display: inline-block;
			padding: 0px;
			// border: 1px solid #E1DCD6;
			// background-color: $background_color_3;
		}
		.qty-number{
			padding:0 5px;
		}
	}
}

.line{
	border-bottom: 1px solid #a2afc5;
}
.pass-title{
  font-weight: 600;
  font-size: .714em;
  letter-spacing: .06em;
  line-height: 1.6em;
  color: #a2afc5;
}


.dropdown-passenger-menu {    
	display: none;
	position: absolute;
	background-color: $color-white;
	padding: 1em 0em;
	margin-top: 3px;
	border-radius: 0.2em;
	z-index: 3;
	width: 25%;
	border-color: #2b2826;
}

.open{
  display: block;
}

.how-to-book{
	.panel {
		margin: 0em 0;
		background-color: transparent;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-box-align: center;
		min-height: 150px;
		.panel-body {
			padding: 0 4em 0 2em;
			flex-grow: 1;
			-webkit-flex-grow: 1
		}
		img {
			max-width: 50px;
			min-width: 50px;
			flex-grow: 0;
			-webkit-flex-grow: 0
		}
		h1 {
			margin: 0 0 .5em;
			font-size: 1.2em
		}
	}
}
#tab-event {
	.how-to-book{
		h4,h1{
			font-size: 1.2em;
		}
	}
	ul {
		display: inline-block;
		width: 100%;
		@include respond-to(mobile){
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			position: relative;
			display: inline-flex;
			font-size: 1em;
		}
		font-size: 1.2em;
		font-weight: 400;
		margin-bottom: 1em;
		
		li {
			a{
				border:none;
				color:rgb(124, 130, 145);
				&:hover{
					color: $color-dark;
				}
				&:active{
					color: $color-dark;
				}
			}
			&.active{
				a{
					color:rgb(124, 130, 145);
				}
					border-bottom: 2px solid rgb(255, 145, 0);
			}
		}
	}
}
#tab-acc {
	.how-to-book{
		h4,h1{
			font-size: 1em;
		}
	}
	ul {
		display: inline-block;
		width: 100%;
		@include respond-to(mobile){
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			position: relative;
			display: inline-flex;
			font-size: 1em;
		}
		font-size: 1em;
		font-weight: 400;
		margin-bottom: 1em;
		
		li {
			a{
				border:none;
				color:rgb(124, 130, 145);
				&:hover{
					color: $color-dark;
				}
				&:active{
					color: $color-dark;
				}
			}
			&.active{
				a{
					color:rgb(124, 130, 145);
				}
					border-bottom: 2px solid rgb(255, 145, 0);
			}
		}
	}
}

.content--category{
	display: flex;
	overflow-x: scroll;
  	overflow-y: hidden;
	white-space: nowrap;
	position: relative;
	display: inline-flex;
	@include respond-to(mobile){
		width: calc(100vw - 3em);
	}
	.icon--category{
		width: 100%;
		color: #7b828f;
		margin-right: 1em;
		@include respond-to(mobile){
			margin-bottom: 15px;
		}
		&:hover{
			color:$color-primary !important;
		}
		.how-to-icon{
			padding: 1em 1em 0 1em;
			border-radius: 1em;
			border: 1px solid #d1d1d1;
			text-align:center;
			width: 100px;
			height: 100px;
			transition: transform .4s ease-in-out;
			@include respond-to(mobile){
				width: 100px;
				height: auto;
			}
			&:hover{
				border: 1px solid $color-primary;
			}
			img{
				width: 100%;
				margin-bottom: 0.5em;
			}
			&:hover{
				transform: scale(0.8);
			}
		}
		.icon-active{
			border: 3px solid $color-primary;
			box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);

		}
		.text-title{
			margin-top:1em;
			text-align:center;
			font-size: 1em;
		}
		.title-active{
			font-weight: bold;
		}
	}
}

.thumb {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	img{
		min-height:100%;
		min-width:100%;
		height:auto;
		width:auto;
		position:absolute;
		top:-100%; bottom:-100%;
		left:-100%; right:-100%;
		margin:auto;
	}
}
.box-img{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position: relative;
	width: 100%;
	overflow: hidden;
	&:after {
		content: "";
		display: block;
		padding-top: 100%
	}
	.box-img-top{
		background-image: linear-gradient(to right, #ec8436bd,  rgba(255, 255, 255, 0));
		color: white;
		position: absolute;
		font-weight: 600;
		width: 100%;
		padding: 0.3em 0.5em 0.3em 0.5em;
		top:0;
	}
	.box-img-bottom{
		color:$color-white;
		position: absolute;
		width: 100%;
		padding: 0em 0.5em 0.5em 0.5em;
		bottom: 0;
		// @include respond-to(mobile){
		// 	padding-top:30px;
		// 	width: auto;
		// 	float: left;
		// }
	}
}
.corner-ribbon{
	width: 200px;
	z-index: 998;
	background: #e43;
	position: absolute;
	top: 25px;
	left: -50px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: #f0f0f0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	.top-left{
		top: 25px;
		left: -50px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	.red{background: #f44336;}
	.top-right{
		top: 25px;
		right: -50px;
		left: auto;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
}
.planning-toggle {
	display: none;
}
.close-planning {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.72em 1.25em;
	font-size: 1.25em;
}
.desktop-search{
	@include respond-to(mobile){
		display:none;
	}
}
.modal-search{
	@include respond-to(mobile){
		display:block !important;
	}
}
.mobile-back {
	position: fixed;
	bottom: 1em;
	right: 1em;
	@include respond-to(desktop){
		display: none;
	}
}
.desktop-back {
	@include respond-to(mobile){
		display: none;
	}
}
.planning-area {
	.caption{
		margin-top:4em;
		color:white;
		.text-title{
			color:white;
			font-weight: 700;
			margin-bottom:0;
		}
		p{
			font-size: 1.2em;
		}
		margin-bottom:3em;
	}
	z-index: 4;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	// bottom: 0;
	display: flex;
	align-items: center;
	.panel {
		position: relative;
		z-index: 4;
		margin: 1em 0 0 1em;
		background-color: rgba(255, 255, 255, .92);
	}
	.panel-body {
		padding: 2em 2.5em 0;
	}
	.form-group {
		margin-bottom: .86em;
	}
	.btn-submit {
		margin-top: 1em;
		margin-bottom: -25px;
	}
	.activity-toggle input {
		display: block;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding-right: 40px;
		padding-left: 1em;
		background: $color-white $arrow-bottom no-repeat right center !important;
		cursor: pointer;
		//Instead of the line below you could use @include user-select($select)
		user-select: none;
	}
}
.btn-register-blog{
	@include respond-to(mobile){
		display: -webkit-box;
	}
}
.reservation-form {
	margin: 0;
	.text-title {
		font-size: 2em;
		font-weight: 400;
		margin-bottom: 1em;
	}
	.trip-date {
		background-color: $color-white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		border: 1px solid $color-custom2;
		display: flex;
		margin-bottom: 1em;
		.form-control {
			border: none;
			background-color: transparent;
			padding-right: 0;
		}
		select.form-control {
			min-width: 115px;
			width: auto;
			padding-left: .86em;
		}
	}
	.input-daterange {
		display: flex;
		margin-right: auto;
		flex-grow: 1;
		white-space: nowrap;
		.date-wrapper + .date-wrapper:before {
			content: "-";
		}
	}
	.dest-option {
		display: none;
		&.active {
			display: block;
		}
	}
	.more-destination{
		position: relative;
		.remove-destination{
			line-height: 0;
			position: absolute;
			right: -1.3em;
			top: 1em;
		}
	}
	.add-more {
		font-weight: 600;
		text-transform: uppercase;
		float: right;
		font-size: .714em;
		letter-spacing: .06em;
	}
}
$breakpoint-tablet: 991px;
@media (max-width: $breakpoint-tablet) {
	.profile-content{
		padding: 0 0 !important;
	}
  .main-dashboard {
		display: block !important;
		padding: 0 1em;
		.sidebar {
			padding: 0 2em;
			margin: -3em -1em 0 -1em;
			background-color: #e17306;
			width: auto;
			float: none;
		}
		.sidebar-nav:after {
			display: none;
		}
		.sidebar-nav {
			margin: 0 0 2em;
		}
		.sidebar-menu {
			display: flex;
			display: -webkit-flex;
			white-space: nowrap;
			justify-content: space-between;
			overflow: auto;
			li {
				margin:0 1em;
				a {
				line-height: inherit;
				display: block;
				text-align: center;
				padding: 1.5em 0 1em;
				color: #fff;
				span {
					font-size: 0.714em;
					color: #fff;
				}
			}
			i {
				display: block;
				font-size: 1.75em;
				margin: 0 0 0.15em;
				color: #9b5006;
			}
			span {
				font-size: 0.714em;
			}
		}
		}
  }
}
.sidebar {
	.reservation-form .input-daterange {
		padding-left: 0;
		.date-wrapper + .date-wrapper:before {
			margin-left: 0;
		}
	}
	.input-daterange .form-control {
		width: 80%;
		padding: 0 1.2em;
	}
}
.home-intro {
	background-color: $color-white;
	.welcome-text {
		margin-left: 4em;
		.link {
			margin-top: 2em;
		}
		@include respond-to(mobile){
				margin-left: 2em;
		}
	}
	.intro-bg {
		@include respond-to(mobile){
			margin-bottom: 2em;
		}
		&:after {
			padding-top: 75%;
		}
		.thumb {
			background-image: $maskot;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}
.section-category{
	.home-travel-diary{
		.diary-desc{
			color: #fff;
		}
		.diary-text {
			margin: 0;
		}
	}
}
.home-travel-diary {
	position: relative;
	.diary-desc {
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		padding: 8em 0;
		z-index: 2;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to top, $color-dark 0%,rgba(43, 40, 38, .8) 50%, rgba(43, 40, 38, .2) 100%);
			z-index: -1;
		}
		.text-label {
			color: #787878;
		}
		.text-title {
			color: $color-white;
		}
		p {
			color: $color-white;
		}
		.link {
			margin-top: 2em;
			cursor: pointer;
		}
	}
	.diary-text {
		margin: 0 0 0 4em;
	}
	+ .list-article {
		background-color: $color-athens-grey;
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 64.2%;
			background-color: $color-dark;
			z-index: -1;
		}
	}
}
.single-article {
	position: relative;
	margin-bottom: 2em;
	.article-img {
		background-color: $color-dark;
		.thumb {
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: opacity .4s cubic-bezier(.4, 0, .2, 1);
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate(-120%, -50%);
			width: 40px;
			height: 40px;
			background-image: $arrow-right;
			background-size: contain;
			background-position: center;
			z-index: 2;
			opacity: 0;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: transform .4s cubic-bezier(.4, 0, .2, 1), opacity .4s cubic-bezier(.4, 0, .2, 1);
		}
	}
	&:hover {
		.article-img::before {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate(-50%, -50%);
			opacity: 1;
		}
		.article-img .thumb {
			opacity: .65;
		}
	}
	.single-desc {
		background-color: $color-white;
		padding: 1.5em 2em;
	}
	.single-title {
		font-size: 1.2em;
		height: 2.7em;
		overflow: hidden;
		margin: .25em 0;
	}
}
.event-list{
	.place-list{
		@include respond-to(mobile){
			margin-top: 2em;
			margin-left: 0;
			margin-right: 0;
			padding: 0;
		}
	}
}
.place-list {
	position: relative;
	transform: translateZ(0);
	@include respond-to(mobile){
		margin-top: 2em;
    margin-left: -1em;
    margin-right: -1em;
		.swiper-slide {
			width: 300px;
		}
		.swiper-button-prev, .swiper-button-next {
			display: block;
			margin-left: -12%;
			margin-right: -12%;
			padding-right: -5%;
			opacity: 0.4;
			background-color: #e17306;
			box-shadow: 2px 2px 4px #2b2826;
		}
	}
	.place-item {
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		background-color: $color-dark;
		cursor: pointer;
		.caption {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 6em 2em 2em;
			z-index: 2;
			background-image: linear-gradient(to top, rgba(30, 30, 34, .75) 0%, rgba(30, 30, 34, 0)100%);
		}
		.place-title {
			color: $color-white;
			font-size: 1.5em;
			font-weight: normal;
			margin: 0;
			&:after {
				content: "";
				display: block;
				width: 40px;
				height: 1px;
				background-color: $color-primary;
				margin-top: .5em;
			}
		}
		&:hover .place-img {
			opacity: .65;
		}
	}
	.place-img {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity .4s cubic-bezier(.4, 0, .2, 1);
		&:after {
			padding-top: 140%;
		}
	}
}
.page-header {
	position: relative;
	padding-top: 100px;
	padding-bottom: 0;
	margin: 0;
	border: none;
	background-color: $color-dark;
	.main-title {
		margin: 0;
		h5{
			color:inherit;
			font-weight: 300;
		}
	}
	.text-title {
		color: $color-white;
		margin: 0 0 .72em;
	}
	.planning-header {
		display: flex;
		align-items: center;
	}
}
.icon-cart{
	display: block;
  text-indent: -9999px;
  width: 150px;
  height: 150px;
  background: url(/static/images/shopping-bag.svg);
  background-size: 150px 150px;
}
.page-header-bg {
	opacity: .35;
}
.page-header-content {
	color: $color-white;
	padding: 2em 0;
}
.action-btn {
	display: flex;
	align-items: center;
	.btn {
		flex-grow: 1;
		margin: 0;
		+ .btn {
			margin-left: 1em;
		}
	}
	.btn-save {
		color: $color-white;
		&:focus {
			color: $color-white;
			&:active {
				color: $color-white;
			}
		}
	}
}
.header-action {
	padding: 2em 0;
	*background-color: $color-dark;
	background-color: #676c56;
	color: $color-white;
	.text-title {
		color: $color-white;
		margin: 0;
	}
	.add-to-plan .amount {
		color: $color-white;
	}
	a.close {
		color: rgba(255, 255, 255, .5);
		margin-left: 2em;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
		opacity: 1;
	}
}
.filter-header {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
	.form-control {
		width: auto;
		background-color: transparent;
		font-size: .714em;
		text-transform: uppercase;
		letter-spacing: 1px;
		height: 36px;
		background-size: 3em;
		font-weight: 600;
	}
	.form-group {
		margin-bottom: 0;
		+ .form-group {
			margin-left: 1em;
		}
	}
	.filter-search {
		min-width: 300px;
		.form-control {
			padding-right: 36px;
			width: 100%;
		}
		.btn-search {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0;
			width: 36px;
			line-height: 36px;
			background-color: transparent;
		}
	}
	select.form-control {
		padding-right: 36px;
	}
}
.home-plan {
	.swiper-slide {
		margin-top: 0 !important;
	}
	+ .home-plan {
		padding-top: 0;
	}
}
.product-list{
	margin-bottom: 2em;
	&:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
	.p-item{
		padding: 0 .5em;
	}

	.p-item-o{
		padding: 0 .5em;
		.box-img{
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			.box-img-bottom{
				position: relative;
				top:0.3em;
				// @include respond-to(mobile){
				// 	top: 0.2em;
				// 	float:left
				// }
				.p_discount{
					float:right
				}
			}
			@include respond-to(mobile){
				height: 200px;
			}
			&::after{
				// background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 3%, rgb(0, 0, 0) 100%) !important;
				//opacity: 0.6 !important;
				//height: 100%;
			}
		}
		.plan-info {
			width: 100%;
			position: absolute;
			background:transparent;
			bottom: 0;
			padding-bottom:0;
			ul {
				height: auto;
				margin: 0;
				padding: 0;
				list-style: none;
				p{
					margin-bottom: 0.2em;
				}
				li {
					+ li {
						margin-top: .25em;
					}
					i {
						margin-right: .86em;
						font-size: .86em;
						color: $color-cadet-blue;
						display: none;
					}
					&.title{
						@include respond-to(mobile){
							max-height:60px; 
						}
						max-height: 20px;
						overflow-y: hidden;
						h3{
							color:#fff;
							word-break: break-all;
							font-size: 1.2em;
							@include respond-to(mobile){
								font-size: 1.1em;
							}
							font-weight: 500;
							margin-top:0;
							margin-bottom: 0.5em;
						}
					}
					&.title-max-weight{
						max-height: 80px !important;
						@include respond-to(mobile){
							max-height: 30px !important;
						}
					}
					&.min-person{
						padding-bottom:.5em;
					}
					&.price{
						position: relative;
						.price-latest{
							display: block;
							font-size:1.4em;
							@include respond-to(mobile){
								font-size: 1.2em;
							}
						}
						.price-before{
							font-size: 0.9em;
							color: #b4b3b3;
							position: relative;
							bottom: 0;
						}
						.notice{
							margin-top: 5px;
							display: block;
							float: left;
							font-size: 1em;
							@include respond-to(mobile){
								font-size: 0.9em;
							}
							font-weight: 400;
						}
						.text-info{
							color:#fff;
							@include respond-to(mobile){
								font-size: 0.9em;
							}
						}
						
					}
				}
			}
		}
	}
}
.plan-item {
	position: relative;
	margin-bottom: 1em;
	border-radius: 3px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	// transition: box-shadow .4s cubic-bezier(.4, 0, .2, 1);
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 12px 0 rgba(0, 0, 0, 0.08);
	
	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08)
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 4;
		pointer-events: none;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform .4s cubic-bezier(.4, 0, .2, 1);
		border-right: 2px solid $color-primary;
		border-left: 2px solid $color-primary;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scaleY(0);
		//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
		transform-origin: bottom;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 4;
		pointer-events: none;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform .4s cubic-bezier(.4, 0, .2, 1);
		border-bottom: 2px solid $color-primary;
		border-top: 2px solid $color-primary;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scaleX(0);
		//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
		transform-origin: right;
	}
	&.selected {
		&:before {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleY(1);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: top;
		}
		&:after {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleX(1);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: left;
		}
		.overlay {
			opacity: 1;
		}
		.btn-select-activity {
			border-color: transparent;
			background-color: $color-primary;
		}
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(43, 40, 38, .6);
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity .25s cubic-bezier(.4, 0, .2, 1);
	}
	.btn-select-activity {
		background-color: transparent;
		color: $color-white;
		border-color: $color-white;
		&:hover {
			background-color: transparent;
			color: $color-white;
			border-color: $color-white;
		}
		&:focus {
			background-color: transparent;
			color: $color-white;
			border-color: $color-white;
			&:active {
				background-color: transparent;
				color: $color-white;
				border-color: $color-white;
			}
		}
	}
	.plan-info {
		padding: 0.8em;
		background-color: $color-white;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		overflow: hidden;
		.ul-events{
			height: 85px;
		}
		ul {
			height: 140px;
			margin: 0;
			padding: 0;
			list-style: none;
			p{
				margin-bottom: 0.2em;
			}
			li {
				+ li {
					margin-top: .25em;
				}
				i {
					margin-right: .86em;
					font-size: .86em;
					color: $color-cadet-blue;
					display: none;
				}
				&.title{
					@include respond-to(mobile){
						height: 43px;
					}
					max-height: 60px;
					overflow: hidden;
					h3{
						color:#333;
						font-size: 1.1em;
						font-weight: 500;
						margin-top:0;
						margin-bottom: 0.5em;
					}
				}
				&.price{
					position: absolute;
					bottom: 0.5em;
					.price-latest{
						font-size:1.2em;
						.text-person{
							font-size: 0.7em;
							color: #9c9c9c;
						}
					}
					.price-before{
						font-size: 0.9em;
						color: #b4b3b3;
						position: relative;
						bottom: -5px;
					}
					.notice{
						color:#585858;
						margin-top: 5px;
						display: block;
						font-size: 0.9em;
						font-weight: 400;
					}
				}
			}
		}
		.event-titlep-card{
			font-weight: 400;
			font-size: 1.2em;
			height: 2.7em;
			overflow: hidden;
			margin: 0 0 1em;
		}
	}
	.padd-info-events{
		padding-left: 2em!important;
		padding-right: 2em!important;
		@include respond-to(mobile){
			padding-left: 0.6em!important;
			padding-right: 0.6em!important;
		}
	}
	.plan-title {
		font-weight: normal;
		height: 2.7em;
		overflow: hidden;
		margin: 0 0 1em;
		font-size:25px;

		@include respond-to(mobile){
			font-size: 14px;
		}
	}
	.plan-footer {
		padding: 1.5em 2em;
		background-color: $color-white;
		border-top: 1px solid $color-default;
		@include respond-to(mobile){
			padding: 0.1em 0.1em;
		}
		.btn {
			margin-left: auto;
			padding: 0;
			width: 36px;
			line-height: 34px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
		}
		.icon-event{
			color: #7B828F;
			margin-bottom: 0.5em;
			span {
				margin-right: 1em;
			}
		}
		.text-info{
			color: #7B828F;
			margin-bottom: 0.5em;
		}
	}
	.plan-img:after {
		padding-top: 63.25%;
	}
}
.p-event{
	@include respond-to(mobile){
	margin-top:10px !important;
	}
}
.price {
	line-height: 1.35em;
	@include respond-to(mobile){
		//margin-top: -30px;
		// margin-left: 10px;
	}
	.price-booking{
		@include respond-to(mobile){
			margin-top:-20px;
		}
	}
	.total-priceBookitems{
		@include respond-to(mobile){
		margin-top:30px;
		margin-left:25px;
		}
	}
	.total-priceBookitemsa{
		@include respond-to(mobile){
		margin-top:0px;
		margin-left:30px;
		}
	}
	.amount {
		font-family: $font_2;
		letter-spacing: .25px;
		font-weight: 700;
		.last-price {
			margin-left: 1em;
			font-size: .7em;
		}
		.text-person{
			font-size: 0.6em;
    		color: #9c9c9c;
		}
		
	}
	.price-rent{
		color:$color-primary;
	}
	.last-price {
		font-weight: normal;
		font-size: .8em;
		letter-spacing: .5px;
		text-decoration: line-through;
		color: $color-cadet-blue;
	}
	.pad-event{
		margin-top:30px;
		@include respond-to(mobile){
			margin-top :10px;
		}
	}
}
.prices-normargin{
	@include respond-to(mobile){
		margin-left: 0px!important;
	}
}
.modal-plan-details {
	.modal-panel {
		max-width: 100%;
	}
	.panel-body {
		padding: 2em;
		> .row {
			display: flex;
		}
	}
	.tab-control {
		margin-top: 1em;
	}
	.nav-tabs {
		display: flex;
		justify-content: space-between;
		li {
			float: none;
			display: inline-block;
			a {
				padding: 0;
				display: inline-block;
			}
		}
		.amount {
			display: inline-block;
			vertical-align: middle;
			margin-left: 1em;
			margin-top: -2px;
			font-size: .714em;
			width: 18px;
			height: 18px;
			line-height: 17px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			text-align: center;
			background-color: $color-primary;
			color: $color-white;
		}
	}
	.scroll-content {
		position: absolute;
		height: 100%;
		max-height: none;
		min-height: auto;
		left: 1em;
		right: 1em;
		top: 0;
	}
	#map-canvas {
		width: 100%;
		height: 260px;
		margin: 1em 0;
	}
	.plan-info ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li + li {
			margin-top: .25em;
		}
	}
}
.modal-plan-img {
	.swiper-button-prev {
		width: 36px;
		height: 36px;
		left: 1em;
	}
	.swiper-button-next {
		width: 36px;
		height: 36px;
		right: 1em;
	}
	.box-img:after {
		padding-top: 65%;
	}
}
.scroll-content {
	max-height: 580px;
	min-height: 580px;
	overflow-x: hidden !important;
}
.list-activities {
	position: relative;
	margin: 0 0 2em;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: .5em;
		width: 1px;
		background-color: $color-primary;
	}
	> li {
		position: relative;
		display: block;
		padding-left: 2.25em;
		+ li {
			margin-top: 1em;
		}
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 1px;
			width: 13px;
			height: 13px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			border: 1px solid $color-primary;
			background-color: $color-whisper;
			z-index: 2;
		}
	}
}
.act-explore {
	.list-activities {
		margin-bottom: 0;
		> li {
			&:before {
				top: 10px;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translateY(-50%);
				margin-top: 2px;
			}
			+ li {
				margin: 0;
			}
			&:after {
				content: "";
				position: absolute;
				top: 1em;
				left: .5em;
				width: 1px;
				bottom: -1em;
				background-color: $color-primary;
			}
			&:last-child .panel {
				margin: 0;
			}
			&.active:before {
				background-color: $color-primary;
			}
		}
		&:before {
			display: none;
			top: 2.25em;
			bottom: 2.25em;
		}
		li:last-child::after {
			display: none;
		}
	}
	.act-time {
		font-family: $font_2;
		font-weight: normal;
		font-size: 1.2em;
		color: $color-dark;
	}
	+ .act-explore {
		margin-top: 4em;
	}
	.trip-destination .box-img {
		width: 120px;
		margin: 1.5em 0 1.5em 1.5em;	
	}
	
	.review-explore:before {
		background-color: $color-primary;
		animation: reviewExp 1s cubic-bezier(.4, 0, .2, 1) infinite;
	}
}
@keyframes reviewExp {
	0% {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
	}
	50% {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 .5em rgba(255, 103, 0, .35);
	}
	100% {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 1em rgba(255, 103, 0, 0);
	}
}
.list-inline {
	margin: 0;
	li {
		padding: 0;
	}
	&.list-bordered li + li {
		padding-top: 0;
		margin-top: 0;
		border-top: none;
		&:before {
			content: "";
			display: inline-block;
			width: 1em;
			height: 1px;
			background-color: $color-primary;
			vertical-align: middle;
			margin-left: .714em;
			margin-right: 1em;
			margin-top: -2px;
		}
	}
}
.timeline-steps {
	margin: 0 0 4em;
	text-align: center;
	margin-top: calc(-4em - 7px);
	.step-item {
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		padding: 0;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			width: 50%;
			height: 1px;
			background-color: $color-custom2;
			z-index: -1;
			left: 0;
		}
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			width: 50%;
			height: 1px;
			background-color: $color-custom2;
			z-index: -1;
			right: 0;
		}
		&:first-child::before {
			display: none;
		}
		&:last-child::after {
			display: none;
		}
		&.active .step {
			background-color: $color-primary;
			*box-shadow: 0 0 24px rgba(255, 103, 0, .6);
			color: $color-white;
			&:before {
				animation: pulse 1s cubic-bezier(.4, 0, .2, 1) infinite;
			}
		}
	}
	.step {
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		display: inline-block;
		width: 40px;
		line-height: 40px;
		background-color: $color-white;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 24px rgba(43, 40, 38, .2);
		text-align: center;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			background-color: rgba(255, 103, 0, .35);
			opacity: 0;
			z-index: -1;
		}
	}
}
@keyframes pulse {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1);
		opacity: 0;
	}
	50% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.35);
		opacity: 1;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.7);
		opacity: 0;
	}
}
.timeline-days {
	margin-bottom: 2em;
	.nav-tabs {
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		display: flex;
		justify-content: space-between;
		white-space: nowrap;
		overflow: auto;
		li {
			position: relative;
			float: none;
			+ li {
				margin-left: .6em;
				&:before {
					content: "";
					position: absolute;
					display: block;
					top: 50%;
					width: 120%;
					right: 100%;
					height: 1px;
					background-color: $color-custom2;
					z-index: -1;
				}
			}
			a {
				font-size: .714em;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: .06em;
				display: flex;
				align-items: center;
				justify-content: center;
				line-height: 1.2em;
				height: 42px;
				text-align: center;
				padding: 0 2em;
				background-color: $color-default;
				color: inherit;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 2px;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: background-color .4s cubic-bezier(.4, 0, .2, 1), color .4s cubic-bezier(.4, 0, .2, 1);
				&:hover {
					color: $color-dark;
				}
			}
			&.active a {
				background-color: $color-dark;
				color: $color-white;
			}
		}
	}
}
.list-trip {
	&:last-child {
		margin-bottom: 2em;
	}
	.panel-trip {
		margin: 0;
	}
	.trip-footer {
		position: relative;
		z-index: 2;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		padding: 3em 0;
		.timeline {
			position: absolute;
			top: 2.25em;
			bottom: 2.25em;
			left: 100px;
			width: 1px;
			background-color: $color-primary;
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 50%;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translateX(-50%);
				margin-left: -1px;
				width: 13px;
				height: 13px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 50%;
				background-color: $color-whisper;
				border: 1px solid $color-primary;
				z-index: 2;
				top: -.86em;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				left: 50%;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translateX(-50%);
				margin-left: -1px;
				width: 13px;
				height: 13px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 50%;
				background-color: $color-whisper;
				border: 1px solid $color-primary;
				z-index: 2;
				bottom: -.86em;
			}
		}
		.panel-trip {
			margin-left: 200px;
		}
	}
	.action-footer {
		span {
			margin-right: 1.75em;
		}
		img {
			width: 1.2em;
			display: inline-block;
			vertical-align: middle;
			margin-right: .714em;
			margin-top: -4px;
		}
	}
}
.trip-destination {
	> a {
		color: inherit !important;
	}
	.box-img {
		flex-grow: 0;
		width: 200px;
	}
	.panel-body {
		flex-grow: 1;
	}
	.footer {
		margin-top: 1.25em;
	}
	.footer-rentCar{
		position: relative;
		margin-top: 16px;
		@include respond-to(mobile){
			margin-top:15px;
		}
		.footer-mobile{
			@include respond-to(mobile){
				margin-top:10px;
				margin-bottom:15px
			}
			.mb1-rentCar{
				@include respond-to(mobile){
				margin-bottom: 0 !important;
				margin-right:26px;
				}
			}
		}
		.book-rent{
			text-align: right;
			@include respond-to (mobile){
				margin-top: 20px !important;
				margin-bottom: 10px;
				text-align: center;
				justify-content: center !important;
			}
			.btn-check{
				background: white;
				color: #000;
				border: 1px solid $color-primary;
				margin-bottom: 10px;
				&:hover{
				  background: $color-primary;
				  color: white;
				}
			  }
		}
		
	}
	.text-title {
		margin: 0;
	}
}
.list-transport {
	margin-bottom: 1em;
	.transport-schedule {
		background-color: $color-white;
	}
	.btn {
		width: 140px;
	}
	.trip-destination > .box-img {
		width: 120px;
		margin: 1.5em 0 1.5em 1.5em;
		@include respond-to(mobile){
			width: 90%;
			height: 200px;
			margin: 1.5em 1.1em 0 1.1em;
		}
	}
	.trip-destination > .box-img-hm {
		width: 13% !important;
		@include respond-to(mobile){
			width: 100% !important;
			height: 200px;
			margin: 1.5em 1.1em 0 1.1em;
		}
	}

	.btn-list-acc{
		text-align: center !important;
	}
	
	.trip-destination > .re-box {
		width: 16%;
		margin: 1.5em 0 1.5em 1.5em;
		@include respond-to(mobile){
			width: 90%;
			height: 200px;
			margin: 1.5em 1.1em 1.5em 1.1em;
		}
	}
	.trip-destination > .rent-panel {
		padding: 0 15px 0 20px !important;
		margin-top: 0%;
		// margin-top: 17px;
		@include respond-to(mobile){
			margin-right: 5px;
		}
		.mla-pricerent{
			margin-top: -20px;
		}
		.rent-title{
			font-size :10pt;
			font-weight: bold;
		}
	}
	.choose-room{
		@include respond-to(mobile){
			margin-top: -10px;
		}
	}
	.content .text-title {
		margin: 0;
	}
}
.collapse-wrapper {
	.panel-body {
		border-top: 1px solid $color-default;
	}
	.row > [class^="col-"] {
		margin-bottom: 1em;
	}
}
.form-wrapper {
	.main-title {
		margin-bottom: 1.75em;
	}
	.panel {
		margin-bottom: 1.2em;
	}
	p {
		margin-bottom: 1.2em;
	}
	ol {
		padding-left: 1.7em;
		margin-bottom: 1.2em;
		color: $color-dark;
	}
	+ .form-wrapper {
		border-top: 1px solid $color-custom2;
		padding-top: 3em;
		margin-top: 3em;
	}
}
.list-payment {
	margin: 0 0 1em !important;
	label {
		display: flex;
		align-items: center;
		background-color: $color-athens-grey;
		color: inherit;
		padding: 1.5em 2em;
		img {
			width: 50px;
			margin-right: 1.5em;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 4;
			width: auto;
			height: auto;
			background-color: transparent;
			border: none;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			pointer-events: none;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: transform .4s cubic-bezier(.4, 0, .2, 1);
			border-right: 2px solid $color-primary;
			border-left: 2px solid $color-primary;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleY(0);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: bottom;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 4;
			width: auto;
			height: auto;
			background-color: transparent;
			border: none;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			pointer-events: none;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: transform .4s cubic-bezier(.4, 0, .2, 1);
			border-bottom: 2px solid $color-primary;
			border-top: 2px solid $color-primary;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleX(0);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: right;
		}
	}
	.text-wrapper {
		flex-grow: 1;
	}
	input:checked {
		+ label::before {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleY(1);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: top;
		}
		+ label::after {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleX(1);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: left;
		}
	}
}
.bank-option {
	margin-top: 2em;
	p {
		margin: 0;
		font-size: .86em;
	}
	.radio {
		margin: 0 0 1em !important;
	}
	label {
		padding: .5em 1.25em .5em 3.5em;
		background-color: $color-white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		display: flex;
		align-items: center;
		&:before {
			top: 50%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-50%);
			left: 1.5em;
		}
		&:after {
			top: 50%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-50%);
			left: 1.5em;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-50%) scale(0);
			left: calc(1.5em +5px);
		}
	}
	.bank-icon {
		margin-left: auto;
		img {
			display: inline-block;
			vertical-align: middle;
			width: 46px;
		}
	}
	input[type="radio"]:checked + label::after {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(-50%) scale(1);
	}
}
.facility-icon {
	span {
		display: inline-block;
		&.more {
			font-size: .75em;
			width: 26px;
			line-height: 26px;
			text-align: center;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			background-color: $color-athens-grey;
			vertical-align: middle;
		}
		+ span {
			margin-left: .72em;
		}
	}
	img {
		width: 1em;
		height: auto;
		vertical-align: middle;
	}
	&.list {
		img {
			margin-right: .86em;
			margin-top: -3px;
			position: absolute;
			top: 8px;
			left: 0;
		}
		span {
			display: block;
			position: relative;
			padding-left: 2em;
			+ span {
				margin-left: 0;
				margin-top: .5em;
			}
		}
	}
}
.accommodation-detail {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 2em !important;
	.accommodation-info {
		margin: 3em 0;
		flex-grow: 1;
	}
	.facility-icon {
		margin: 0 -1em;
		&:before {
			content: "";
			display: table;
			clear: both;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		span {
			float: left;
			width: 50%;
			padding: 0 1em;
			margin-bottom: .5em;
			img {
				display: inline-block;
				vertical-align: middle;
				margin-top: -2px;
				margin-right: .86em;
			}
			+ span {
				margin-left: 0;
			}
		}
	}
	.list-bordered li + li {
		margin-top: 2em;
		padding-top: 2em;
	}
}
#room-availability {
	padding-top: 2em;
}
.tab-slide-control {
	overflow: visible;
	margin-bottom: 2em;
	.swiper-wrapper {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: none !important;
		white-space: nowrap;
		overflow: auto;
	}
	.swiper-slide {
		width: auto;
		line-height: 42px;
		cursor: pointer;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: color .4s cubic-bezier(.4, 0, .2, 1);
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $color-primary;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleX(0);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: right;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: transform .4s cubic-bezier(.4, 0, .2, 1);
		}
		+ .swiper-slide {
			margin-left: 2em;
		}
	}
	.swiper-slide-active {
		color: $color-primary;
		&:after {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleX(1);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: left;
		}
	}
}
.main-about {
	.content-wrap {
		padding: 8em 0;
	}
	.main-title {
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		&:before {
			display: none;
		}
		.text-title {
			font-weight: 700;
		}
		span {
			font-size: 7em;
			line-height: 1em;
			font-weight: 900;
			position: absolute;
			bottom: 0;
			left: -.35em;
			z-index: -1;
			color: $color-primary;
			opacity: .3;
		}
	}
	.about-img {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 50%;
		@include respond-to(mobile){
			display: none;
		}
	}
	ul li + li {
		margin-top: 4em;
	}
}
.plan-destination {
	.icon {
		width: 1.35em;
		margin-right: 1.25em;
	}
	h4 {
		margin: 0;
	}
	.list-activities {
		margin-top: 1.25em;
		flex-grow: 1;
		li {
			padding-left: 2.75em;
		}
	}
}
.list-airport {
	.airport-info {
		flex-grow: 1;
	}
	.facility-icon.list span {
		font-size: .86em;
		+ span {
			margin-top: 0;
		}
	}
}
.list-step {
	li {
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		padding-left: 3.25em;
		+ li {
			margin-top: 2em;
		}
		&:after {
			content: "";
			position: absolute;
			left: 16px;
			top: 0;
			height: calc(100% +2em);
			width: 1px;
			z-index: -1;
			background-color: $color-primary;
		}
		&:last-child::after {
			display: none;
		}
	}
	.step {
		position: absolute;
		top: -4px;
		left: 0;
		width: 32px;
		line-height: 30px;
		height: 32px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		text-align: center;
		border: 1px solid $color-primary;
		background-color: $color-white;
		color: $color-primary;
	}
	.panel {
		margin: 1em 0;
	}
}
.profile-header {
	padding: 4em 0;
	position: relative;
	z-index: 2;
	.user-avatar {
		.box-img {
			min-width: 70px;
		}
		.user-name {
			font-size: 1.5em;
			font-weight: normal;
			color: $color-white;
			margin-bottom: .35em;
		}
		.user-email {
			color: $color-white;
		}
	}
	.btn {
		margin-left: auto;
	}
}
.main-dashboard {
	display: flex;
	.sidebar-nav {
		height: 100%;
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		margin-right: 2em;
		&:after {
			content: "";
			position: absolute;
			top: -4em;
			bottom: -4em;
			width: 100%;
			*background-image: linear-gradient(to right, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, .25)50%, $color-white 100%);
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: inset -20px 0 30px -10px rgba(0, 0, 0, .065);
			z-index: -1;
		}
	}
	.sidebar {
		padding-right: 0;
	}
	.profile-content {
		padding-left: 0;
		.container-fluid {
			min-height: 480px;
			padding: 0;
		}
	}
	.heading-toolbar {
		display: flex;
		align-items: center;
		margin-bottom: 2em;
		a {
			color: $color-cadet-blue;
			&:hover {
				color: $color-dark;
			}
			+ a {
				margin-left: 1.25em;
			}
		}
		.icon {
			display: inline-block;
			vertical-align: middle;
			width: .8em;
			margin-right: .5em;
			margin-top: -2px;
		}
		.toolbar-right {
			margin-left: auto;
		}
	}
	.tab-control {
		margin-bottom: 2em;
		.nav-tabs {
			display: flex;
			white-space: nowrap;
			justify-content: space-between;
			border-bottom: 1px solid $color-custom2;
			li {
				float: none;
				a {
					padding: 0;
					&:after {
						content: "";
						position: absolute;
						left: 0;
						bottom: -1px;
						width: 100%;
						height: 1px;
						background-color: $color-primary;
						//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
						transform: scaleX(0);
						//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
						transform-origin: right;
						//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
						transition: transform .4s cubic-bezier(.4, 0, .2, 1);
					}
				}
				&.active a:after {
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: scaleX(1);
					//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
					transform-origin: left;
				}
			}
			.icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: .5em;
				margin-top: -2px;
				width: 1.2em;
			}
		}
	}
}
.panel-profile {
	.user-avatar {
		margin: .5em 0 2em;
		.box-img {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
			width: 100px;
		}
	}
	.change-picture {
		input {
			display: none;
		}
		label {
			font-weight: normal;
			margin: 0;
			color: $color-primary;
			cursor: pointer;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: color .4s cubic-bezier(.4, 0, .2, 1);
			&:hover {
				color: $color-white;
			}
			&:focus {
				color: $color-custom1;
				&:active {
					color: $color-custom1;
				}
			}
		}
	}
}
.list-booking {
	.panel {
		.booking-padd{
			margin-bottom: 10px;
		}
		.btn {
			line-height: 1.25em;
			padding: 1em 1.5em;
		}
		.help-block {
			margin: 0;
		}
		> .panel-heading {
			padding: 1.5em 2em;
			background-color: #676c56;
			color: $color-white;
		}
		.row + .row {
			margin-top: 1.5em;
		}
	}
	.price {
		float: right;
	}
	.booking-nav {
		margin-left: auto;
		a + a {
			margin-left: 1.5em;
		}
	}
	+ .list-booking {
		margin-top: 3em;
	}
	.booking-status .icon {
		display: inline-block;
		width: 1.2em;
		margin-right: .5em;
		vertical-align: middle;
		margin-top: -2px;
	}
}
.booking-detail {
	.Bokdetail-head{
		@include respond-to(mobile){
			padding-left:1em;
		}
	}
	.booking-status {
		margin-left: auto;
		.icon {
			display: inline-block;
			width: 1.2em;
			margin-right: .5em;
			vertical-align: middle;
			margin-top: -2px;
		}
	}
	.btn {
		margin-left: auto;
	}
	.list-transport {
		display: flex;
		align-items: center;
		.box-img {
			min-width: 70px;
			margin-right: 1em;
		}
		h5 {
			margin: 0;
		}
	}
}
.list-traveller {
	margin-top: 2em;
	.traveller {
		display: flex;
		background-color: $color-white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		margin-bottom: 1em;
		.icon {
			position: relative;
			width: 60px;
			text-align: center;
			background-color: $color-primary;
			color: $color-white;
			//Instead of the line below you could use @include border-top-left-radius($radius)
			border-top-left-radius: 2px;
			//Instead of the line below you could use @include border-bottom-left-radius($radius)
			border-bottom-left-radius: 2px;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translate(-50%, -50%);
				line-height: 1em;
				font-size: 1.2em;
			}
		}
	}
	.traveller-info {
		flex-grow: 1;
		display: flex;
		align-items: center;
		padding: 1em 1em 1em 1.2em;
		min-height: 80px;
		.traveller-name {
			flex-grow: 1;
			margin: 0;
			padding-right: 1em;
			color: $color-dark;
		}
	}
	.traveller-action {
		position: relative;
		> a {
			display: block;
			width: 32px;
			line-height: 32px;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(90deg);
			text-align: center;
			background-color: $color-white;
			color: inherit;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: background-color .4s cubic-bezier(.4, 0, .2, 1);
			i {
				line-height: 1;
				display: inline-block;
				font-size: .86em;
				vertical-align: middle;
				margin-top: -5px;
			}
			&:hover {
				background-color: $color-default;
			}
			&:focus {
				background-color: $color-default;
				&:active {
					background-color: $color-default;
				}
			}
		}
	}
	.add-traveller {
		margin-bottom: 1em;
		line-height: 76px;
		&:focus {
			line-height: 76px;
			&:active {
				line-height: 76px;
			}
		}
		i {
			font-size: 1.2em;
			margin-right: .5em;
			display: inline-block;
			vertical-align: middle;
			margin-top: -2px;
		}
	}
}

.person-btn{
		select.form-control {
			padding: 0 1.2em;
			border: none;
			border-radius: 2px;
			box-shadow: none !important;
			font-family: inherit;
			font-weight: 600;
			color: #2B2826;
			-webkit-appearance: none;
			background-color: unset;
	}
}
.newsletter {
	background-color: $color-athens-grey;
	.btn-submit {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		width: 56px;
		line-height: 54px;
		background-color: transparent;
		font-size: 1.2em;
		color: $color-primary;
	}
	.form-control {
		padding-right: 56px;
	}
	.social-icon {
		margin-top: 3em;
		text-align: center;
	}
}
.main-footer {
	a{
		color:#a9a9a9;
		font-size: 0.9em;
		&:hover{
			color:$color-white;
		}
	}
	.footer-info{
		@include respond-to(mobile){
			display: none;
		}
		padding-bottom: 2em;
	}
	.bottom-footer{
		padding:2em 0;
		background-color:#484848;
	}
	background-color: $color-dark;
	color: $color-white;
	.logo-footer {
		display: block;
		width: 80px;
		height: 45px;
		background-image: $logo-white;
		background-size: contain;
		background-repeat: no-repeat;
		@include respond-to(mobile){
			margin:0 auto;
			width: 60px;
		}
	}
	.footer-wrap {
		&:nth-child(2) {
			text-align: center;
		}
		&:last-child {
			text-align: right;
		}
	}
	.copyright {
		color: rgba(255, 255, 255, .35);
	}
	.back-to-top i {
		display: inline-block;
		font-size: .714em;
		margin-left: 1em;
	}
}
.choose-transport {
	margin-bottom: 2em;
	.radio {
		label {
			display: block;
			padding: 2.75em 2em 2em;
			border: 2px solid #eee;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: border-color .4s cubic-bezier(.4, 0, .2, 1);
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		img {
			width: 42px;
			display: block;
			margin: 0 auto 1em;
		}
		input:checked + label {
			border-color: $color-primary;
			span {
				color: $color-primary;
			}
		}
	}
}
.toggle-menu-icon span {
	position: relative;
	display: block;
	width: 100%;
	height: 1px;
	background-color: $color-white;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .4s cubic-bezier(.19, 1, .22, 1), background-color .4s cubic-bezier(.19, 1, .22, 1), width .4s cubic-bezier(.19, 1, .22, 1);
	//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
	transition-delay: .4s;
	+ span {
		margin-top: 6px;
	}
	&:nth-child(1) {
		width: 100%;
	}
	&:nth-child(3) {
		width: 100%;
	}
}
.planning-info .list-bordered {
	margin-top: 1em;
}
.plan-content + .plan-content {
	margin-top: 2em;
	padding-top: 2em;
	border-top: 1px solid $color-default;
}
.check-list li {
	position: relative;
	padding-left: 1.5em;
	+ li {
		margin-top: .25em;
	}
	i {
		font-size: .86em;
		display: inline-block;
		position: absolute;
		top: 6px;
		left: 0;
	}
}
.list-bordered > li + li {
	padding-top: 1em;
	margin-top: 1em;
	border-top: 1px solid $color-default;
}
.list-transports .trip-destination {
	cursor: pointer;
}
.list-rooms .trip-destination {
	cursor: pointer;
}
.main-contact .contact-form {
	padding-right: 6em;
	@include respond-to(mobile){
		padding-right: 1em;
		margin-bottom: 2em;
	}
	border-right: 1px solid #eee;
}
.sidebar-menu li {
	a {
		color: $color-dark;
		display: block;
		line-height: 42px;
		&:hover {
			color: $color-primary;
		}
	}
	span {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .82em;
		letter-spacing: .5px;
	}
	&.active {
		a {
			color: $color-primary;
		}
		i {
			color: $color-dark;
		}
	}
	i {
		display: inline-block;
		vertical-align: middle;
		margin-top: -2px;
		margin-right: .86em;
		font-weight: normal;
		font-size: 1.15em;
		color: #7b828f;
	}
}
.list-itinerary .panel {
	.btn {
		line-height: 1.25em;
		padding: 1em 1.5em;
	}
	.link {
		float: right;
		cursor: pointer;
	}
	.help-block {
		margin: 0;
	}
	> .panel-heading {
		padding: 1.5em 2em;
		background-color: #676c56;
		color: $color-white;
		.text-label {
			color: $color-white;
			margin: 0;
		}
		p {
			color: $color-white;
			margin: 0;
		}
	}
	.row + .row {
		margin-top: 1.5em;
	}
}
#modal-proceed .modal-panel {
	max-width: 600px;
	text-align: center;
	.panel-body {
		padding: 2.25em 3em;
	}
}
.modal-proceed .modal-panel {
	max-width: 600px;
	text-align: center;
	.panel-body {
		padding: 2.25em 3em;
	}
}
#choose-transport .modal-panel {
	max-width: 600px;
	text-align: center;
	.panel-body {
		padding: 2.25em 3em;
	}
	.panel-heading {
		padding: 2.25em 3em 0;
	}
}
.modal-panel.main-login {
	max-width: 960px;
	.content-row {
		margin: 0;
		display: flex;
	}
	.login-bg {
		padding: 0;
		flex-grow: 1;
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		min-height: 630px;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(-25deg, $color-primary 0, $color-danger 100%);
			opacity: .65;
		}
	}
	.login-form {
		padding: 0;
		flex-grow: 1;
		padding: 3.25em 4em;
		display: flex;
		align-items: center;
		.content {
			flex-grow: 1;
		}
	}
	.bg-title {
		position: absolute;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		bottom: 0;
		left: 0;
		right: 0;
		padding: 4em;
		z-index: 2;
		.text-title {
			color: $color-white;
			font-size: 22px;
			margin: 0;
		}
	}
	.checkbox-wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 2em;
		.link {
			margin-left: auto;
			cursor: pointer;
		}
	}
	.or {
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateZ(0);
		margin: 1em 0;
		text-align: center;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $color-default;
			z-index: -1;
		}
		span {
			display: inline-block;
			padding: 0 1em;
			background-color: $color-whisper;
		}
	}
	.footer {
		text-align: center;
		margin-top: 2em;
	}
}
.fade-in{
	display: block;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
		to { opacity: 1; }
}  
@keyframes fadeIn {
	from { opacity: 0; }
		to { opacity: 1; }
}


.community-filter {
	background: #fff;
	height: 425px;
	border-top: 1px solid #e17306;
	border-bottom: 1px solid #e17306;
	@include respond-to(mobile){
			height: 100%;
		}

}

.events-section{
	padding: 1.2em 0px 0.4em 0px;
	height: 100%;
}
.scrollmenu {
    padding: 0;
	margin-bottom: 2em;
	overflow: auto;
	white-space: nowrap;
	.category-event-selected{
		border: 2px solid #e17306
	}
	.select-event-catt{
		background:#2B2826;
    	padding: 10px;
	}
}
.scroll-style::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar
{
    height: 5px;
    background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar-thumb
{
    background-color: $color-primary;
    
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                       color-stop(.5, rgba(255, 255, 255, .2)),
                       color-stop(.5, transparent), to(transparent));
}

.ev-header{
	border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px;
	.ev-head-content{
		margin: 1em 0;
		.ev-title{
			color: #2b2826;
			font-family: $font_2;
		}
		.ev-location{
			color: #7c8291;
		}
		ul{
			padding: 0;
			margin: 10% 0 0 0;
			list-style-type: none;
			display: block;
			position: relative;
			bottom: 0;
			float:right;
			@include respond-to(mobile){
				margin:0;
				float:left;
			}
			li{
				margin-left: 10px;
				display: inline-block;
				-ms-flex-line-pack: center;
				align-content: center;
				.media-social-icon1{
					background: #3b5998;
					padding:6px 10px 6px 10px;
					border-radius: 100%;
					span{
						color: white;
					}
				}
				.media-social-icon2{
					background: #dd4b39;
					padding:6px 10px 6px 10px;
					border-radius: 100%;
					span{
						color: white;
					}
				}
				.media-social-icon3{
					background: #00aced;
					padding:6px 10px 6px 10px;
					border-radius: 100%;
					span{
						color: white;
					}
				}
				.media-social-icon4{
					background: #007fb1;
					padding:6px 10px 6px 10px;
					border-radius: 100%;
					span{
						color: white;
					}
				}
			}
		}
	}
}

.ev-content{
	margin-bottom: 30px;
	.img-content{
		width: 100%;
	}
	.ev-desc{
		border-bottom: 1px solid #d8d8d8;
		margin-top:20px;
		.text-title{
			font-weight: 300;
			font-family: $font_2;
			margin: 0 0 0.5em;
		}
	}
	.ev-body{
		margin-top:20px;
		.text-content{
			text-align: justify;
		}
	}
	.ev-text-d{
		margin: 10px 20px;
		.ev-date{
			text-align: center;
			.text-date{
				margin-bottom: 0px;
			}
		}
		.btn-buy{
			width: 100%;
		}
	}
	.ev-ticket{
		margin:10px 20px;
		.ev-panel{
			outline: 1px solid #d8d8d8;
			.ev-panel-header{
				padding:10px 0;
				border-bottom: 1px solid #d8d8d8;
				color: #333;
				text-align: center;
				.text-title-tix{
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 1.2em;
					font-weight: 400;
    				line-height: 1.25em;
				}
			}
			.ev-panel-footer{
				border-top: 1px solid #d8d8d8;
				padding:10px 0;
				.text-footer{
					margin-left:20px;
					font-size: 1.2em;
					font-weight: 400;
    				line-height: 1.25em;
				}
				.text-footer1{
					margin-right:20px;
					font-size: 1.2em;
					font-weight: 400;
					line-height: 1.25em;
					text-align: right;
				}
			}
			.ev-panel-body{
				padding:20px 0;
				.ev-b-header{
					margin:0 20px;
					padding: 0px 0px;
					outline: 1px solid $color-primary;
					.ev-bg{
						background: $color-primary;
						padding:10px 10px;
						.text-pre{
							color:white;
							font-size: 1em;
							font-weight: 300;
							margin:0;
						}
						.text-pre1{
							float:right;
							color:white;
							font-size: 1em;
							font-weight: 300;
							margin:0;
						}
					}
					.box-pre{
						padding:20px 30px;
						border-bottom: 1px solid $color-primary;
						.tix-chooser {
							display: flex;
							justify-content: space-between;
							margin:0 80px;
							border: 1px solid $color-primary;
							&__amount-btn {
								width: 23px;
								border: none;
								outline: none;
								font: inherit;
								font-size: 17px;
								color: white;
								background: $color-primary;
							  }
						}

					}
					.ev-bg1{
						padding:10px 10px;
						.text-pre{
							color:$color-dark;
							font-size: 1em;
							font-weight: 300;
							margin:0;
						}
						.text-pre1{
							float:right;
							color:$color-dark;
							font-size: 1em;
							font-weight: 300;
							margin:0;
						}
					}
				}
			}
		}
	}
}

.body-auth{
	overflow:hidden;
	.boxed-auth{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 5% 0 20px 0;
		.box-logo{
			position: relative;
			text-align:center;
			.logo{
				width:50%;
			}
		}
		.not-found{
			text-align: center;
			.btn-notfound{
				border-radius: 20px;
				margin-top:10px;
				padding: 0px 10px;
				&:hover{
					border:none;
				}
			}
			
		}
	}
}

.countdownBox{
	@include respond-to(mobile){
		min-width: 70px;
		padding: 1em 0px;
		margin-right: 1em;
	}
	padding: 2em;
    background-color: #e17306; 
    color: #fff; 
    border-radius: 2px; 
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    margin-right: 1.5em
}