.nav-tabs {
	border-bottom: none;
	&:before {
		display: none;
	}
	&:after {
		display: none;
	}
	li {
		float: left;
		margin-bottom: 0;
		a {
			margin: 0;
			border: none;
	
			border-radius: 0;
			padding: 0 1em;
			line-height: 42px;
			color: $color-cadet-blue;
			&:hover {
				background-color: transparent;
				color: $color-dark;
			}
			&:focus {
				background-color: transparent;
				color: $color-dark;
			}
		}
		&.active a {
			@extend %extend_12;
			&:focus {
				@extend %extend_12;
			}
			&:hover {
				@extend %extend_12;
			}
		}
	}
}

.clear-selected {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 40px;
	line-height: 40px;
	border-radius: 2px;
	background-color: $color-white;
	text-align: center;
	cursor: pointer;
	z-index: 4;
}