.pagination-nav {
	margin-top: 3em;
	display: flex;
	align-items: center;
}

.pagination {
	display: block;
	padding: 0;
	margin: 0 0 0 auto;
	border-radius: 0;
	li {
		display: inline-block;
		+ li {
			margin-left: .25em;
		}
		a {
			position: relative;
			float: none;
			display: block;
			font-size: .86em;
			font-weight: 600;
			padding: 0;
			margin-left: 0;
			width: 36px;
			height: 36px;
			line-height: 36px;
	
			border-radius: 50% !important;
			text-align: center;
			color: inherit;
			background-color: transparent;
			border: none;
			&:focus {
				color: $color-dark;
				background-color: transparent;
			}
			&:hover {
				color: $color-dark;
				background-color: transparent;
			}
		}
		&:first-child a {
			margin-left: 0;
	
			border-radius: 0;
		}
		&:last-child a {
			margin-left: 0;
	
			border-radius: 0;
		}
	}
	.active a {
		@extend %extend_13;
		&:focus {
			@extend %extend_13;
		}
		&:hover {
			@extend %extend_13;
		}
	}
}