@mixin scrollbars() {
  &::-webkit-scrollbar {
    background: #ffaf7f66;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
  }

  &::-webkit-scrollbar-track {
  }
}
.tab-route-trip{
  > .nav-tabs{
    @include scrollbars();
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    &::before{
      content: " ";
      display: table;
    };
    > li.active{
     > a{
          background-color: $color-primary;
          border:none;
          color:white;
        }
    }
    > li{
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
      display: inline-block;
      margin-left: 3em;
      text-align: center;
      &:first-child{
        margin-left: 0;
        &:before{
          content: " ";
          display: table;
        }
      }
      &:before{
        content: "\e6e7";
        position: absolute;
        left: -2em;
        margin-top: 0.8em;
        display: table;
        font-family: 'themify';
      }
      > a{
        min-width: 100px;
        background: white;
      }
      
    }
  }
}