
li.swiper-slide {
	.react-tabs__tab--selected {
		color: $color-primary !important;
	}
}
.tab-slide-control {
	.react-tabs__tab--selected {
		&:after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
	.swiper-slide {
		list-style: none;
	}
}
.react-tabs__tab--selected {
	background: none;
	border-color: none;
	color: $color-dark;
	border-radius: 0;
}
.react-tabs__tab {
	border: none;
	border-bottom: none;
	bottom: 0;
	list-style: none;
	padding: 0;
	cursor: pointer;
}
.timeline-days {
	margin-bottom: 2em;
	.nav-tabs {
		position: relative;
		transform: translateZ(0);
		display: flex;
		justify-content: space-between;
		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 50%;
			left: 1em;
			right: 1em;
			height: 1px;
			background-color: $color-custom2;
			z-index: -1;
		}
		li {
			float: none;
			display: inline-block;
			font-size: .714em;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: .06em;
			display: -ms-flexbox;
			display: flex;
			display: -webkit-flex;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-align: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-justify-content: center;
			line-height: 1.2em;
			height: 42px;
			text-align: center;
			padding: 0 2em;
			background-color: $color-default;
			color: inherit;
			border-radius: 2px;
			-webkit-transition: background-color .4s cubic-bezier(.4, 0, .2, 1), color .4s cubic-bezier(.4, 0, .2, 1);
			-o-transition: background-color .4s cubic-bezier(.4, 0, .2, 1), color .4s cubic-bezier(.4, 0, .2, 1);
			transition: background-color .4s cubic-bezier(.4, 0, .2, 1), color .4s cubic-bezier(.4, 0, .2, 1);
			a {
				font-size: .714em;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: .06em;
				display: flex;
				display: -webkit-flex;
				align-items: center;
				-webkit-box-align: center;
				justify-content: center;
				-webkit-justify-content: center;
				line-height: 1.2em;
				height: 42px;
				text-align: center;
				padding: 0 2em;
				background-color: $color-default;
				color: inherit;
				border-radius: 2px;
				transition: background-color .4s cubic-bezier(.4, 0, .2, 1), color .4s cubic-bezier(.4, 0, .2, 1);
				&:hover {
					color: $color-dark;
				}
			}
		}
		li.active {
			a {
				background-color: $color-dark;
				color: $color-white;
			}
		}
		.react-tabs__tab--selected {
			background-color: $color-primary !important;
			color: $color-white !important;
		}
	}
	.nav-tabs.react-tabs__tab--selected {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 103, 0, .35);;
			opacity: 0;
			z-index: -1;
		}
	}
}
.modal-plan-img {
	.react-tabs__tab--selected {
		color: grey !important;
	}
}
