@keyframes fadeInSearch{
  from {
    opacity: 0.8
  }
  to{
    opacity: 1
  }
}
section{
  .menu--area{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    .advance--search{
      position: relative;
      z-index: 4;
      width: 65%;
    }
  }
}
.react-autosuggest__input{
  width: 100%;
  padding: 0 1em;
  height: 42px;
  border-radius: 5px;
  border: none;
  opacity: 0.8;
  background-color:$color-white;
  &:active,&:focus{
    background-color:$color-white;
    animation: fadeInSearch cubic-bezier(0.23, 1, 0.32, 1) 1;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
  }
}
.suggestion--image{
  width: 50px;
  margin-right: 1em;
}
.react-autosuggest__suggestions-container{
  position: absolute;
  margin-top: 1px;
  width: 100%;
  background-color: $color-white;
  padding: 0 1em;
  border-radius: 5px;
}
.highlight{
  color:$color-primary;
}
.suggestion--content{
  a{
    color:#7B828F;
    &:hover{
      color:$color-primary;
    }
  }
}
.react-autosuggest__section-container--first{
  .react-autosuggest__section-title{
    margin-top: 1em;
  }
}
.react-autosuggest__suggestions-container{
  .footer{
    display: none;
  }
}
.react-autosuggest__suggestions-container--open{
  .footer{
    display: block;
  }
}
.react-autosuggest__section-container{
  .react-autosuggest__section-title{
    margin-bottom: 1em;
  }
  .react-autosuggest__suggestions-list{
    padding: 0 1em;
    list-style: none;
    .react-autosuggest__suggestion{
      width: 100%;
      padding: 0;
      margin-bottom:1em;
    }
  }
}

.search-box-acc {
  margin: 0;
  top:0.2em;
  .rbt-input-hint{
    height: 100%;
  }
  .rbt-input{
    padding-right: 30px;
    padding-left: 1em;
    /* background:  url(/src/assets/images/plus.png) no-repeat right center; */
    background: #fff url(/static/images/pin.png) no-repeat right center;
    outline: none;
    outline-width: 0 !important;
    cursor: pointer;
  }
  .form-control {
    padding: 0 1.2em;
    height: 36px;
    border: 1px solid $color-custom2;
    border-radius: 2px;
    box-shadow: none !important;
    font-size: 1em;
    font-weight: normal;
    color: #2B2826;
    input[readonly] & {
      background-color: $color-white !important;
    }
    &:focus {
      box-shadow: none;
      border-color: $color-primary
    }
    .no-border {
      border: none
    }
  }
  .search-desc{
    display: block;
    color:#929292;
  }
  ul{
    li{
      a{
        position: relative;
        padding: 0.8em 1em;
        .search-type{
          position: absolute;
          right: 1em;
          border: 1px solid #e37300;
          border-radius: 0.5em;
          color: #e37300;
          padding: 0 0.2em 0.2em 0.2em;
        }
        mark{
          padding: 0px;
          background-color: transparent;
          color:#e37300;
        }
      }
      &:active{
        color:#000;
        background-color: #f3f3f3;
        a{
          &:active{
            color:#000;
            background-color: #f3f3f3;
          }
        }
      }
    }
  }
}
.home-search{
  margin-bottom: 4px !important;
  .rbt-input{
    padding-right: 60px !important;
    background: #fff url(/static/images/search.svg) no-repeat 98% center !important;
    outline: none;
    outline-width: 0 !important;
    cursor: pointer;
  }
}
.panel-search-default{
  position: absolute;
  max-height: 300px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  padding: 1em;
  .text-title{
    font-size: 1.4em;
    font-weight: 500;
  }
}
.location-item{
  &::after{
    content: "";
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 3%, rgb(0, 0, 0) 100%) !important;
    opacity: 0.6 !important;
    height: 100%;
  }
  .text-middle{
    display: table-cell;
    vertical-align: middle;
    font-size: 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    color:white;
  }
  display: table;
  width: 100%;
  height: 150px;
  margin-bottom: 1em;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 -1px 3px 0 rgba(0, 0, 0, 0.08);
	
	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 -1px 2px 0 rgba(0, 0, 0, 0.08)
	}
}
.search-box-adv{
  margin: 0 0 1em;
  .rbt-input-hint{
    height: 100%;
  }
  .rbt-input{
    padding-right: 30px;
    padding-left: 1em;
    /* background:  url(/src/assets/images/plus.png) no-repeat right center; */
    background: #fff url(/static/images/arrow_bottom.svg) no-repeat right center;
    outline: none;
    outline-width: 0 !important;
    cursor: pointer;
  }
  .search-desc{
    display: block;
    color:#929292;
  }
  ul{
    li{
      a{
        position: relative;
        padding: 0.8em 1em;
        .search-type{
          position: relative;
          @include respond-to(mobile){
            margin-left: 1em;
            border-radius: 0.5em;
            position: absolute;
            padding: 0 0.1em 0.1em 0.1em;
            border: 1px solid #e37300;
          }
          // position: absolute;
          float: right;
          // margin-left: 1em;
          // align-self: flex-end;
          // text-align: right;
          // border: 1px solid #e37300;
          // border-radius: 0.5em;
          // color: #e37300;
          // padding: 0 0.2em 0.2em 0.2em;
        }
        mark{
          padding: 0px;
          background-color: transparent;
          color:#e37300;
        }
      }
      &:active{
        color:#000;
        background-color: #f3f3f3;
        a{
          &:active{
            color:#000;
            background-color: #f3f3f3;
          }
        }
      }
    }
  }
}
.panel-search-box{
  .text-danger{
    position: relative;
    top:-10px;
    font-size: 0.9em;
  }
  .form-planning-group{
    display: inline-block;
    .DateRangePicker{
      float: left;
      width: 70%;
    }
    select{
      height: 48px;
      border-radius: 0px;
      border-left: none;
      float: right;
      padding: 11px 0;
      width: 30%;
    }
  }
}