.spinner-in-button {
  display: inline-block;
  width: 12px;
  height: 12px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: $color-primary;
  border-left-color: $color-primary;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
