* {
	image-rendering: -webkit-optimize-contrast;
	shape-rendering: geometricPrecision;
	outline: none;
	outline-color: transparent;
	outline-offset: 0;
	outline-style: hidden;
	outline-width: 0;
	
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-rendering: optimizeLegibility !important;
	-webkit-text-rendering: optimizeLegibility !important
}

html {
	font-size: 14px;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch; 
}

body {
	font-size: 1em;
	font-family: 'Poppins Medium', sans-serif;
	// background-color: #F5F7FA;
	font-weight: normal;
	*color: #737C8C;
	color: #7B828F;
	line-height: 1.6em;
	letter-spacing: 0.3px;
}

body[data-scrollbar] {
	*overflow: hidden !important
}

html,
body {
	height: 100%
}

#main {
	overflow: hidden;
	min-height: 100vh;
	// background-color: #F5F7FA;
	*transform: translateY(50vh) translateZ(0);
	*transition: transform .8s .4s cubic-bezier(.4, 0, .2, 1)
}

.load{
  #main {
    *transform: translateY(0) translateZ(0)
  }
}
.w100{
	width: 100%;
}
.w50{
	width: 100%;
}
.float-l{
	float: left;
}
.float-r{
	float: right;
}

.bg-white {
	background-color: $color-white !important;
}

.p0 {
	padding: 0 !important
}

.pt0 {
	padding-top: 0 !important
}
.pt1 {
	padding-top: 1em !important
}
.pt2 {
	padding-top: 2em !important
}
.pb1 {
	padding-bottom: 1em !important
}
.pb2 {
	padding-bottom: 2em !important
}

.m0 {
	margin: 0 !important
}

.mb0 {
	margin-bottom: 0 !important
}

.mt1 {
	margin-top: 1em !important
}

.mt2 {
	margin-top: 2em !important
}

.mb1 {
	margin-bottom: 1em !important
}

.mb2 {
	margin-bottom: 2em !important
}

.mb3 {
	margin-bottom: 3em !important
}

.mb4 {
	margin-bottom: 4em !important
}

.mr0 {
	margin-right: 0em !important
}
.mr1 {
	margin-right: 1em !important
}

.mr2 {
	margin-right: 2em !important
}

.ml0 {
	margin-left: 0 !important
}
.mla {
	margin-left: auto !important
}

.ml1 {
	margin-left: 1em
}

.ml2 {
	margin-left: 2em
}

.row {
	margin: 0 -1em
}

.row > [class^="col-"] {
	padding: 0 1em
}

.sm-gutter {
	margin: 0 -.5em
}

.sm-gutter > [class^="col-"] {
	padding: 0 .5em
}

.flex-row {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	// -webkit-flex-flow: row wrap;
	-webkit-flex-direction: row /* works with row or column */
}

.flex-dir {
	flex-direction: column;
	-webkit-flex-direction: column
}

.flex-between {
	justify-content: space-between;
	-webkit-justify-content: space-between
}

.flex-center {
	align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
}

.flex-end {
	align-items: flex-end;
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
}

.flex-grow {
	flex-grow: 1;
	-webkit-flex-grow: 1
}

.row.no-gutter {
	margin: 0
}

.row.no-gutter > [class^="col-"] {
	padding: 0
}

.space-1 {
	height: 1em
}

.space-2 {
	height: 2em
}

b, strong {
	font-weight: 600;
	color: $color-dark;
}

hr {
	margin: 1.75em 0;
	border-top: 1px solid $color-default
}

a{
  color: $color-primary;
  &:hover{
    text-decoration: none;
    color: $color-custom1;
  }
  &:focus{
    text-decoration: none;
    color: $color-custom1;
    &:active{
      text-decoration: none;
      color: $color-custom1;
    }
  }
  .text-label {
    text-decoration: none;
    color: $color-primary;
    transition: color .4s cubic-bezier(.4, 0, .2, 1)
  }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	font-weight: normal;
	line-height: 1.35em;
	margin: 12px 0;
  color: $color-dark;
  small, .small{
    font-size: 50%;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    margin-top: -4px
  }
}

.h1, .h2, .h3, .h4, .h5 { 
	margin: 0
}

h1, .h1 {
	font-size: 3.25em
}

h2, .h2 {
	font-size: 2.75em
}

h3, .h3 {
	font-size: 2.25em
}

h4, .h4 {
	font-size: 1.5em
}

h5, .h5 {
	font-size: 1.2em
}

.flex-wrapper {
	display: flex;
	display: -webkit-flex;
	align-items: flex-start;
	-webkit-box-align: flex-start
}


@mixin placeholder {
  @include optional-at-root('::-moz-placeholder') {
    color: #7B828F !important;
    opacity: 1 !important;
    transition: all .3s ease !important
  }
  @include optional-at-root('::-webkit-input-placeholder') {
    color: #7B828F !important;
    opacity: 1 !important;
    transition: all .3s ease !important
  }
}

input[readonly] {
	background-color: transparent !important;
	user-select: none;
}

input {
	width: 100%
}

.sticky-side {
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}