@font-face {
  font-family: 'roboto';
  font-style: normal;
  src: url("/static/fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: 'roboto-bold';
  font-style: normal;
  src: url("/static/fonts/Roboto/Roboto-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "eina";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/eina/eina-semibold.eot") format("embedded-opentype"),
	   url("/static/fonts/eina/eina-semibold.woff2") format("woff2"),
	   url("/static/fonts/eina/eina-semibold.ttf") format("truetype"),
	   url("/static/fonts/eina/eina-semibold.svg") format("svg")
}

@font-face {
  font-family: "eina";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/eina/eina-regular.eot") format("embedded-opentype"),
	   url("/static/fonts/eina/eina-regular.woff2") format("woff2"),
	   url("/static/fonts/eina/eina-regular.ttf") format("truetype"),
	   url("/static/fonts/eina/eina-regular.svg") format("svg")
}

@font-face {
  font-family: "eina";
  font-style: normal;
  font-weight: 200;
  src: url("/static/fonts/eina/eina-light.eot") format("embedded-opentype"),
	   url("/static/fonts/eina/eina-light.woff2") format("woff2"),
	   url("/static/fonts/eina/eina-light.ttf") format("truetype"),
	   url("/static/fonts/eina/eina-light.svg") format("svg")
}

@font-face {
  font-family: "circular";
  font-style: normal;
  font-weight: 900;
  src: url("/static/fonts/circular/circular-black/circular-black.eot") format("embedded-opentype"),
	   url("/static/fonts/circular/circular-black/circular-black.woff") format("woff"),
	   url("/static/fonts/circular/circular-black/circular-black.otf") format("opentype"),
	   url("/static/fonts/circular/circular-black/circular-black.svg") format("svg")
}

@font-face {
  font-family: "circular";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/circular/circular-bold/circular-bold.eot") format("embedded-opentype"),
	   url("/static/fonts/circular/circular-bold/circular-bold.woff") format("woff"),
	   url("/static/fonts/circular/circular-bold/circular-bold.otf") format("opentype"),
	   url("/static/fonts/circular/circular-bold/circular-bold.svg") format("svg")
}

@font-face {
  font-family: "circular";
  font-style: normal;
  font-weight: 600;
  src: url("/static/fonts/circular/circular-medium/circular-medium.eot") format("embedded-opentype"),
	   url("/static/fonts/circular/circular-medium/circular-medium.woff") format("woff"),
	   url("/static/fonts/circular/circular-medium/circular-medium.otf") format("opentype"),
	   url("/static/fonts/circular/circular-medium/circular-medium.svg") format("svg")
}

@font-face {
  font-family: "circular";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/circular/circular-book/circular-book.eot") format("embedded-opentype"),
	   url("/static/fonts/circular/circular-book/circular-book.woff") format("woff"),
	   url("/static/fonts/circular/circular-book/circular-book.otf") format("opentype"),
	   url("/static/fonts/circular/circular-book/circular-book.svg") format("svg")
}

@font-face {
  font-family: "circular";
  font-style: normal;
  font-weight: 300;
  src: url("/static/fonts/circular/circular-light/circular-light.eot") format("embedded-opentype"),
	   url("/static/fonts/circular/circular-light/circular-light.woff") format("woff"),
	   url("/static/fonts/circular/circular-light/circular-light.otf") format("opentype"),
	   url("/static/fonts/circular/circular-light/circular-light.svg") format("svg")
}

@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/poppins/Poppins-Medium.woff") format('woff');
}

@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/poppins/Poppins-Bold.woff") format('woff');
}

.text-primary {
	color: $color-primary
}

.text-success {
	color: $color-success !important
}

.text-danger {
	color: $color-danger !important
}

.text-dark {
	color: #2B2826 !important
}

.text-sm {
	font-size: .86em;
	line-height: 1.5em
}
.main-note{
  .text-title {
    font-size: 1.2em;
  }
}

.main-title {
  margin: 0 0 3.5em;
  @include respond-to(mobile){
    margin-bottom: 1.75em;
    font-size: 12px;
  }
  &:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 1px;
    // background-color: $color-primary;
    margin-bottom: 1em;
  }
  h1 {
    font-size: 22px;
    font-weight: bold;
    color: #484848;
  }
  h5 {
    font-weight: 300;
    color: inherit
  }
}

.text-title {
	font-weight: 300;
	font-family: "helvetica";
  margin: 0 0 1em;
}
.title-x{
  margin-left:10px;
}
h4,h5{
  .text-title {
    font-weight: normal;
    line-height: 1.25em
  }
}

.text-wrapper{
  .text-title {
    margin-bottom: .35em
  }
  h1, h2, h3, h4, h5{
    margin-top: 0
  }
}

.capitalized{
  text-transform: capitalize;
}

.text-label {
	font-weight: 600;
	text-transform: uppercase;
	font-size: .714em;
	letter-spacing: .06em;
	line-height: 1.6em;
  color: #a2afc5;
  .form-groups, .form-control {
    margin-top: .25em
  }
}

.help-block {
	font-size: .86em;
	color: inherit;
	line-height: 1.45em;
	margin: .25em 0 0
}
.how-to-book{
  h2,h3{
    font-size: 1.5em
  }
}
.content--category{
  h1{
    font-size:1.2em;
  }
}