.alert {
	padding: 1.5em 2em;
	margin-bottom: 2em;
	border: none;
	border-radius: 0;
	color: inherit;
	display: flex;
	align-items: center;
	.icon {
		margin-right: 1.5em;
	}
	.text-wrapper {
		flex-grow: 1;
	}
	img.icon {
		min-width: 24px;
		flex-grow: 0;
	}
}
.alert-bordered {
	border: 1px dashed $color-custom2;
	background-color: transparent;
}
