.card {
	padding: 1.5em 2em;
	border-radius: 2px;
}
.card-default {
	background-color: $color-athens-grey;
}
.card-columns {
  .card {
    margin-bottom: 0.75rem;
  }

  @media (min-width: 576px) {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}