.list-custom li {
	position: relative;
	padding-left: 1.5em;
	+ li {
		margin-top: .25em;
	}
	&:before {
		content: "";
		width: .86em;
		height: 1px;
		background-color: $color-primary;
		position: absolute;
		top: 11px;
		left: 0;
	}
}

.social-icon a {
	display: inline-block;
	vertical-align: middle;
	+ a {
		margin-left: 2em;
	}
}
.social-icon-lg a {
	font-size: 1.5em;
}
