.form-group {
	position: relative;
  margin: 0 0 1em;
  .inptCar{
    height: 47px;
  
  }
}


.form-control {
	padding: 0 1.2em;
	// height: 42px;
	border: 1px solid $color-custom2;
	border-radius: 2px;
	box-shadow: none !important;
	font-size: 1em;
	font-weight: normal;
  color: #2B2826;
  input[readonly] & {
    background-color: $color-white !important
  }
  &:focus {
    box-shadow: none;
    border-color: $color-primary
  }
  .no-border {
    border: none
  }
}
.form-group-lg {
  .form-control {
    border-radius: 2px;
    height: 56px;
    font-size: 1em;
    padding: 0 1.5em
  }
}

.icon-form {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 42px;
	width: 40px;
  text-align: center;
  .form-control {
    padding-left: 40px
  }
}

.js-textarea {
	min-height: auto;
	resize: none;
	padding: 1em 1.2em
}

input{
  &:focus{
    @mixin placeholder {
      @include optional-at-root('::-moz-placeholder') {
        color: #7B828F !important;
        opacity: 0 !important
      }
      @include optional-at-root('::-webkit-input-placeholder') {
        color: #7B828F !important;
        opacity: 0 !important
      }
    }
  }
}

select{
  .form-control {
    width: 100%;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border-image: none;
    padding-right: 40px;
    padding-left: 1em;

    outline: none;
    outline-width: 0 !important;
    cursor: pointer
  }
}

.checkbox,
.radio {
	position: relative;
  margin: .5em 0 0 !important;
  label{
    display: inline-block;
    min-height: none;
    margin: 0;
    font-size: 1em;
    font-weight: inherit;
    position: relative;
    color: #2B2826;
    line-height: 20px;
    padding-left: 1.86em;
    cursor: pointer;
    &:after, &:before{
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: 2px solid $color-custom2;
      margin-top: 1px;
      transition: opacity .4s cubic-bezier(.4, 0, .2, 1), border-color .4s cubic-bezier(.4, 0, .2, 1);
    }
  }
  input[type="radio"]:checked{
    +label{
      &:before {
        border-color: $color-primary;
      }
      &::after {
        transform: scale(1);
      }
    }
  }
}
.checkbox{
  label{
    &:before{
      background-color: transparent;
    }
    &:after{
      border: none !important;
      background-color: $color-primary;
      background-image: url(/static/images/checkbox.svg);
      background-size: 90% auto;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: opacity .25s cubic-bezier(.4, 0, .2, 1);
      -webkit-transition: opacity .25s cubic-bezier(.4, 0, .2, 1);
    }
  }
  input[type="checkbox"]{
    &:checked{
      +label{
        &:before{
          border-color: $color-primary;
        }
        &:after{
          opacity: 1;
        }
        &:hover{
          &:before{
            box-shadow: none;
          }
        }
      }
    }
  }
}
.checkbox-inline,
.radio-inline {
	vertical-align: top;
	margin-left: 0 !important;
	margin-right: 1em !important;
  padding: 0;
}

.radio ,
.checkbox ,
.switch-checkbox {
  input{
    display: none;
  }
}

.switch-checkbox {
  input:checked{
    label{
      &:before{
        background-color: $color-primary
      }
      &:after{
        background-color: #fff;
        transform: translateX(12px);
      }
    }
  }
  label{
    display: inline;
    position: relative;
    font-weight: normal;
    padding-left: 3em;
    margin: 0;
    cursor: pointer;
    color: #2B2826;
    &:before{
      content: "";
      position: absolute;
      display: block;
      top: 2px;
      left: 0;
      width: 32px;
      height: 20px;
      border-radius: 2em;
      background-color: #E8EBF0;
      transition: background-color .25s cubic-bezier(.4, 0, .2, 1)
    }
    &:after{
      content: "";
      position: absolute;
      display: block;
      top: 4px;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-primary;
      transition: transform .25s cubic-bezier(.4, 0, .2, 1),
            background-color .25s cubic-bezier(.4, 0, .2, 1)
    }
  }
}