.link {
	display: inline-block;
	position: relative;
	transform: translateZ(0);
  color: $color-primary;
  &:hover,&:focus{
    color: $color-custom1;
    &:after{
      transform: scaleX(0);
      transform-origin: right
    }
  }
  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-primary;
    transform-origin: left;
    transition: transform .4s cubic-bezier(.4, 0, .2, 1)
  }
}

.readmore {
	font-weight: 600;
	text-transform: uppercase;
	font-size: .714em;
	letter-spacing: .06em;
	color: $color-primary
}

.big-link {
	text-align: center;
  margin-top: 3em;
  .link {
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: -.025em;
    line-height: 1.35em;
    cursor: pointer;
    &:after {
      height: 2px
    }
  }
}