.modal-dialog-centered {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	min-height: calc(100% - (.5rem * 2));
}
.modal-dialog-full {
  width: 100%;
  margin:0 !important;
  height: 100% !important;
  .modal-content{
    height: 100%;
  }
}
.modal-content{
	width: 100%;
}
.modal-open {
	overflow: hidden !important;
}
.modal-backdrop {
	background-color: $color-dark;
	&.in {
		opacity: .5;
	}
	+ .modal-backdrop {
		z-index: 1050;
	}
}
// .modal {
// 	padding-left: 0 !important;
// 	.modal-dialog {
// 		display: table;
// 		width: 100%;
// 		height: 100%;
// 		margin: 0;
// 		padding: 0;

// 		transform: none !important;
// 		opacity: 1;
// 	}
// 	.modal-content {
// 		display: table-cell;
// 		vertical-align: middle;
// 		margin: 0;
// 		padding: 0;

// 		box-shadow: none;

// 		border-radius: 0;
// 		border: none;
// 		background-color: transparent;
// 		position: relative;

// 		transform: translateZ(0);
// 	}
// 	.close {

// 		text-shadow: none !important;
// 		display: block;
// 		width: auto;
// 		line-height: inherit;
// 		background-color: transparent !important;
// 		color: #7b828f;
// 		font-size: inherit;
// 		text-align: center;
// 		text-decoration: none;
// 		margin-left: auto;
// 		opacity: 1;

// 		transition: background-color .4s cubic-bezier(.4, 0, .2, 1), color .4s cubic-bezier(.4, 0, .2, 1);
// 		&:hover {
// 			color: $color-dark;
// 		}
// 		&:focus {
// 			color: $color-dark;
// 		}
// 		i {
// 			font-size: 1.25em;
// 			line-height: 1em;
// 			display: inline-block;
// 			vertical-align: middle;
// 			margin-top: -2px;
// 		}
// 	}
// 	.nicescroll-rails {
// 		width: 1px !important;
// 		margin-left: 4px !important;
// 	}
// 	.nicescroll-cursors {
// 		width: 1px !important;
// 		margin-left: 4px !important;
// 	}
// 	.backdrop {
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		z-index: -1;
// 	}
// 	+ .modal {
// 		z-index: 1051;
// 	}
// 	&.fade .modal-content {
// 		opacity: 0;

// 		transition: opacity .4s cubic-bezier(.4, 0, .2, 1) !important;

// 		transition-delay: 0s;
// 	}
// 	&.in .modal-content {
// 		opacity: 1;

// 		transition-delay: .2s;
// 	}
// }
// .modal-panel {
// 	max-width: 100%;
// 	margin: 0 auto !important;
// 	background-color: $color-whisper;
// 	border-radius: 2px;
// 	overflow: hidden;
// 	box-shadow: none;
// 	position: relative;
// }
// .slide-modal {
// 	display: flex;
// 	align-items: flex-end;
// 	opacity: 1 !important;
// 	overflow: hidden !important;
// 	visibility: hidden;
// 	transition: visibility .3s !important;
// 	&.in {
// 		opacity: 1 !important;
// 		visibility: visible;
// 		.modal-dialog {
	
// 			transform: translateY(0) !important;
// 		}
// 	}
// 	.modal-dialog {
// 		background-color: $color-whisper;
// 		opacity: 1 !important;
// 		display: block;
// 		height: auto;
// 		overflow: hidden;

// 		transform: translateY(100%) !important;

// 		transition: transform .3s cubic-bezier(.4, 0, .2, 1) !important;
// 	}
// 	.modal-content {
// 		display: block;
// 		opacity: 1 !important;
// 		width: 100%;
// 	}
// 	.modal-panel {
// 		margin: 0;

// 		border-radius: 0;
// 	}
// 	.panel-heading {

// 		border-radius: 0;
// 		padding: 2em 0;
// 		background-color: #676c56;
// 		color: $color-white;
// 		.container {
// 			display: flex !important;
// 			align-items: center !important;
// 		}
// 		.text-title {
// 			color: $color-white;
// 		}
// 		a {
// 			color: $color-white-50;
// 		}
// 	}
// 	.scroll-content {
// 		height: 643px;
// 		max-height: none;
// 		min-height: none;
// 		> .panel-body {
// 			padding: 2em 0;
// 		}
// 	}
// 	.nicescroll-rails {
// 		width: 4px !important;
// 		margin-left: 0 !important;
// 	}
// 	.nicescroll-cursors {
// 		width: 4px !important;
// 		margin-left: 0 !important;
// 	}
// }

// .modal-activity .modal-panel {
//   max-width: 960px;
//   max-height: 550px
// }

.modal-proceed {
  .modal-panel {
    max-width: 600px !important;
    text-align: center;
    .panel-body {
      padding: 2.25em 3em
    }
  }
}
.modal-message{
  .modal-panel{
    max-width: 350px;
    max-height: 380px;
  }
}
.btn-cus{
  max-width: 40%; 
  text-align: center;
  margin-left:50px;
}