.panel-custom .panel-heading {
	padding: 1.5em 2em;
	background-color: $color-custom;
	color: $color-white;
	.text-label {
		color: $color-white;
	}
	.text-title {
		color: $color-white;
	}
}
.panel-info .panel-heading {
	padding: 1.5em 2em;
	background-color: $color-info;
	color: $color-white;
	.text-label {
		color: $color-white;
	}
	.text-title {
		color: $color-white;
	}
}
.panel-primary .panel-heading {
	padding: 1.5em 2em;
	background-color: $color-primary;
	color: $color-white;
	.text-label {
		color: $color-white;
	}
	.text-title {
		color: $color-white;
	}
}

.panel {
	border-radius: 0;
	border: none;
	box-shadow: none;
	margin-bottom: 2em;
}
.panel-group {
	margin-bottom: 2em;
	.panel-heading {
		padding: 1.5em 2em;
		+ .panel-collapse > .panel-body {
			border-top: 1px solid $color-default-hover;
		}
	}
	.panel + .panel {
		margin-top: 1em;
	}
	> .panel {

		border-radius: 0;
	}
}
.panel-heading {
	border-radius: 0;
	position: relative;
	transform: translateZ(0);
	padding: 1.5em 2em 0;
	border: none;
	.close {
		float: right;
	}
	.text-title {
		margin: 0;
	}
	a[data-toggle] {
		color: $color-dark;
		display: flex;
		align-items: center;
		&:after {
			content: "\e64b";
			font-family: $font_0;
			margin-left: auto;
			font-size: .72em;
		}
	}
}
.panel-body {
	position: relative;
	padding: 1em 1em;
}
.panel-footer {
	border-top: none;
	padding: 1.5em 2em;
	background-color: $color-athens-grey;
	border-radius: 0;
	.footer-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: space-between;
		white-space: nowrap;
		li a {
			color: $color-cadet-blue;
			font-size: .714em;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .06em;
			&:hover {
				color: $color-dark;
			}
		}
	}
}
.panel-bordered {
	border: 1px dashed $color-custom2;
	background-color: transparent;
	&.panel-info {
		border-color: $color-info;
		.bottom-bordered{
			border-bottom:1px dashed $color-info;
		}
	}
	&.panel-custom {
		border-color: $color-custom;
		.bottom-bordered{
			border-bottom:1px dashed $color-custom;
		}
	}
	&.panel-primary {
		border-color: $color-primary;
		.bottom-bordered{
			border-bottom:1px dashed $color-primary;
		}
	}
	&.panel-success {
		border-color: $color-success;
		.bottom-bordered{
			border-bottom:1px dashed $color-success;
		}
	}
}


.panel-bg-success {
	background-color: #d5f0d7;
	color: $color-dark;
}